<!-- "Mod/CodePku/cellar/GUI/AccountUp/AccountUp.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" ><![CDATA[
    NPL.load("(gl)Mod/CodePku/cellar/GUI/AccountUp/AccountUp.lua")
    local AccountUp = commonlib.gettable("Mod.CodePku.AccountUp")

    AccountUp.isClickedGetPhoneCaptcha = false

    local VisitorLimit = NPL.load("(gl)Mod/CodePku/cellar/GUI/AccountUp/VisitorLimit.lua");
    

    -- 获取图片 tpye  1 通用；2 ESC专用
    function GetIcons(type, index)
        return AccountUp:GetIconPath(type, index)
    end

    function OnSureBtnClicked()
        AccountUp.OnSureBtnCLicked(Page)
        VisitorLimit:destroy()
    end

    function OnCancelBtnClicked()
        AccountUp.OnCancelBtnClicked()
        VisitorLimit:destroy()
    end

    function OnGetMobileCodeBtnClicked() 
        AccountUp.GetMobileCode(Page)
    end
]]></script>
<style type="text/mcss">
</style>

<pe:container alignment="_lt" width="936" height="721">

<!-- 背景 -->
<div style="<%=format('position: relative; width: 936;height: 721;background:url(%s);', GetIcons(2, 'esc_frame_bot_floor.png'))%>">
    <!-- title -->
    <div style="position: relative;left: 362;top: 14;font-family: zkklt;font-size: 48;color: #9e6c5e;"><%=L"账号升级"%></div>
    <div style="position: relative;left: 154;top: 157;font-family: zkklt;font-size: 36;color: #803011;"><%=L"请输入你想绑定的手机号"%></div>
    <!-- 输入框 -->
    <div style="<%=format('position: relative; left: 163;top:216;width: 608;height: 83;background:url(%s);', GetIcons(2, 'esc_frame_bot_608_83.png'))%>">
        <input type="text" MoveViewWhenAttachWithIME="true" name="account" EmptyText='<%= L"请输入手机号码" %>' style="position: relative;left: 170px;top: 20; width: 583; height: 42; font-family: zkklt;font-size: 36;line-height: 42;color: #803011;background: #000000;"/>
        <input type="button" name="numberChoose" onclick="OnNumberChooseBtnClicked" value='<%= L"+86"%>' style="position: relative;left: 18;top: 20; width: 101px; height: 42; font-family: zkklt;font-size: 36;line-height: 42;color: #803011;background: #000000;"/>
        <input type="button" name="numberChoose" onclick="OnNumberChooseBtnClicked" value='<%= L"▼"%>' style="position: relative;left: 80;top: 22; width: 101px; height: 42; font-family: zkklt;font-size: 22;line-height: 42;color: #803011;background: #000000;"/>
    </div>
    <!-- 验证码框 -->
    <div name="verifyCodeDiv" style="<%=format('position: relative; left: 163; top: 366;width: 608; height: 83;background:url(%s);', GetIcons(2, 'esc_frame_bot_608_83.png'))%>">
        <input type="text" MoveViewWhenAttachWithIME="true" name="verify_code" EmptyText='<%= L"请输入验证码" %>' style="position: relative; width: 500; height: 83; left: 25; line-height: 83; font-family: zkklt;font-size: 36;line-height: 42;color: #803011; background: #000000;" />
        <input type="button" name="GetMobileCodeBtn" onclick="OnGetMobileCodeBtnClicked()" style="<%=format('position: relative; left: 356;top:-6;width: 252;height: 95;font-family: zkklt;font-size: 36;line-height: 42;color: #803011;background:url(%s);', GetIcons(2, 'esc_frame_btn_nauthcode.png'))%>" value='<%= L"获取验证码" %>' />
    </div>

    <!-- 取消 -->
    <div onclick="OnCancelBtnClicked" style="<%=format('position: relative; left: 121; top: 550;width: 238; height: 81;background:url(%s);', GetIcons(1, 'common_btn_red01.png'))%>">
        <div style="<%=format('position: relative;left:80;top:22;width: 78; height: 32; background:url(%s);', GetIcons(2, 'esc_frame_btn_cancel.png'))%>"></div>
    </div>

    <!-- 确定升级 -->
    <div onclick="OnSureBtnClicked" style="<%=format('position: relative; left: 575; top: 550;width: 238; height: 81;background:url(%s);', GetIcons(1, 'common_btn_green01.png'))%>">
        <div style="<%=format('position: relative;left:39;top:22;width: 161; height: 32; background:url(%s);', GetIcons(2, 'esc_frame_btn_upgrade.png'))%>"></div>
    </div>

</div>
<!-- 关闭 -->
<div onclick="OnCancelBtnClicked" style="<%=format('position: relative; left: 811; top: -23; width: 77;height: 123;background:url(%s);', GetIcons(1, 'comm_btn_close.png'))%>"></div>

</pe:container>


</pe:mcml> 
</body>
</html>