<!-- "Mod/CodePku/cellar/GUI/AccountUp/AccountUp.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" ><![CDATA[
    NPL.load("(gl)Mod/CodePku/cellar/GUI/AccountUp/AccountUp.lua")
    local AccountUp = commonlib.gettable("Mod.CodePku.AccountUp")

    AccountUp.isClickedGetPhoneCaptcha = false

    function OnSureBtnClicked()
        AccountUp.OnSureBtnCLicked(Page)
    end

    function OnCancelBtnClicked()
        AccountUp.OnCancelBtnClicked()
    end

    function OnGetMobileCodeBtnClicked() 
        AccountUp.GetMobileCode(Page)
    end
]]></script>
<style type="text/mcss">
</style>

<pe:container alignment="_lt" width="945" height="615">
    <div style="position: relative; width: 945px; height: 615px;background: url(codepku/image/textures/login/updataAccountBg.png);">

        <div style="position: relative; width: 410; height: 86; left: 267; line-height: 86; font-size: 45; font-weight: bold; font-family: PuHuiTi-Bold; color: #F46D3D; text-align: center; background:url(codepku/image/textures/login/quickLogin.png#444 205 434 86);">账号升级</div>

        <div style="position: relative; width: 429; height: 34; left: 114; top: 139;color: #ffffff; font-family: Noto Sans S Chinese Regular-Regular; font-size: 36px;"><%=L"请输入你想绑定的手机号"%></div>

        <div style="position: relative; width: 722; height: 88; left: 112; top: 210; font-family: Noto Sans S Chinese Regular-Regular;
            font-size: 32px; font-weight: normal; font-stretch: normal; line-height: 40px; letter-spacing: 0px; color: #ffffff; background:url(codepku/image/textures/login/main.png#1011 271 88 88:10 10 10 10)">
            <input type="text" name="account" EmptyText='<%= L"请输入手机号码" %>' style="position: relative;left: 139px; width: 583; height: 88; background: #000000;"/>
            <div style="position: relative; left: 93px; top: 41px; width: 16px; height: 8px;background: url(codepku/image/textures/login/quickLogin.png#751 82 16 8);"></div>
            <input type="button" name="numberChoose" onclick="OnNumberChooseBtnClicked" value='<%= L"+86"%>' style="position: relative; width: 101px; height: 88px; background: #000000;"/>
        </div>

        <div name="verifyCodeDiv" style="position: relative; width: 722; height: 88; left: 111; top: 329;">

            <div style="position: relative; width: 722; height: 88; font-size: 32; color:#FFFFFF; font-family: Noto Sans S Chinese Regular; background:url(codepku/image/textures/login/main.png#1011 271 88 88:10 10 10 10);">
                <input type="text" name="verify_code" EmptyText='<%= L"请输入验证码" %>' style="position: relative; width: 672; height: 88; left: 25; line-height: 88; background: #000000;" />
            </div>

            <input type="button" name="GetMobileCodeBtn" onclick="OnGetMobileCodeBtnClicked()"
                style="position: relative; width: 201; height: 89; left: 522; font-size: 32; font-family: PuHuiTi-Bold; font-weight: bold; color: #F46D3D; background:url(codepku/image/textures/login/main.png#1537 413 200 88:0 10 10 0);" value='<%= L"获取验证码" %>' />

        </div>


        <input type="button"  onclick="OnSureBtnClicked" value='<%= L"确定升级"%>'
        style="position: relative; width: 286; height: 86; left: 542; top: 458; font-size: 36; color: #0e5516; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#276 46 74 94:6 6 6 6);" />

        <input type="button"  onclick="OnCancelBtnClicked" value='<%= L"取消"%>'
        style="position: relative; width: 286; height: 86; left: 114; top: 458; font-size: 36; color: #85272b; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#344 478 102 86:6 6 6 6);" />

    </div>
</pe:container>


</pe:mcml> 
</body>
</html>