<!-- "Mod/CodePku/cellar/GUI/AccountUp/VisitorLimit.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="VisitorLimit.lua"><![CDATA[

VisitorLimit = NPL.load("(gl)Mod/CodePku/cellar/GUI/AccountUp/VisitorLimit.lua")

function Close()
    Page:CloseWindow()
end

function GetIcons(type, index)
    return VisitorLimit:GetIconPath(type, index)
end

]]></script>
<style type="text/mcss">
</style>

<pe:container alignment="_lt" width="1920" height="1080">

<!-- 背景 -->
<div style="<%=format('position: relative; left: 532; top: 102; width: 795;height: 778;background:url(%s);', GetIcons(2, 'esc_frame_bot_paper.png'))%>">
    <!-- title -->
    <div style="position: relative;left: 200;top: 30;font-family: zkklt;font-size: 56;color: #4f402e;"><%= VisitorLimit.PageTitle %></div>
    <!-- content -->
    <div style="position: relative;left: 92;top: 120;width: 419;height: 137;line-height: 45;text-align: left;font-family: zkklt;font-size: 38;color: #675947;"><%= VisitorLimit.PageContent %></div>
    <!-- 取消 -->
    <div onclick="Close" style="<%=format('position: relative; left: 74; top: 319; width: 146;height: 65;background:url(%s);', GetIcons(1, 'common_btn_red02.png'))%>">
        <div style="<%=format('position: relative; left: 22; top: 9; width: 100;height: 48;background:url(%s);', GetIcons(1, 'common_btn_cancel.png'))%>"></div>
    </div>
    <!-- 确认 -->
    <div onclick="Close" style="<%=format('position: relative; left: 409; top: 319; width: 146;height: 65;background:url(%s);', GetIcons(1, 'common_btn_green02.png'))%>">
        <div style="<%=format('position: relative; left: 22; top: 9; width: 100;height: 48;background:url(%s);', GetIcons(1, 'common_btn_confirm.png'))%>"></div>
    </div>
</div>

</pe:container>


</pe:mcml> 
</body>
</html>