<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学生结算界面</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src=""><![CDATA[
local LiveLessonSettlement = NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Settlement/LiveLessonSettlement.lua");
local page = document:GetPageCtrl()
UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");

ProfilePng = "codepku/image/textures/profile_32bits.png";

-- 获取图标
function GetIcon(index)
    return LiveLessonSettlement:GetIconPath(index)
end

function Close()
    Page:CloseWindow()
end

local mainasset = UserInfoPage.mainasset or nil;
function GetMainAsset()
    return mainasset;
end

]]>
</script>
<pe:container alignment="_lt" width="100%" height="100%" style="">
    <div style="position: relative; width: 1920; height: 1080;background-color: #00000082;">
        <div style="position: relative;left: 300;top: 200;width: 1320;height: 680;"></div>
        
        <div style='<%=format("position:absolute;margin-left:235px;margin-top:298px;width:727px;height:653px;background:url(%s#410 490 750 653);", Eval("ProfilePng")) %>'>
            <div style="margin-left:40px;margin-top:-138px;width:640px;height:640px;" >
                <pe:mc_player align="center" assetfile="<%= GetMainAsset() %>" miniscenegraphname="AvatarMyselfTabCharacter" LookAtHeight=1 CameraObjectDist=4 RenderTargetSize=640 style="width:640px;height:640px;background-color: #00000082;"></pe:mc_player>
            </div>
            <pe:if condition='<%= UserInfoPage.isSelf %>'>
                <input align="center" type="button" onclick="OpenSkinPage" style="background:url(codepku/image/textures/common_32bits.png#1502 740 86 86:14 14 14 14);width:246px;height:86px;color:#B35D0A;font-size:36px;font-weight:bold;margin-top:16px;" value="更换角色"/>
            </pe:if>
        </div>

        <!-- 关闭 -->
        <div onclick="Close" style="<%=format('position: relative; left: 1580; top: 127; width: 77;height: 123;background:url(%s);', GetIcon('live_lesson_comm_x.png'))%>"></div>

    </div>
</pe:container>
</pe:mcml>
</body>
</html>
  