<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>结算界面</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src=""><![CDATA[
LiveLessonSettlement = NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Settlement/LiveLessonSettlement.lua");
local page = document:GetPageCtrl()

-- 获取图标
function GetIcon(index)
    return LiveLessonSettlement:GetIconPath(index)
end

-- 关闭
function Close()
    page:CloseWindow()
end

-- 学生列表
function GetStudentsInfo()
    return LiveLessonSettlement.settlement_result_table
end

-- 课堂结算
function Settlement()
    LiveLessonSettlement:CommitSettlementResult()
end

-- 下课
function Finish()
    -- ggs广播下课信号，分线内所有人全部执行
    GameLogic.RunCommand("/ggs cmd liveLesson classover")
    Close()
end

-- 修改评分
function ChangeGrade(name)
    LiveLessonSettlement.selected_user_index = name
    LiveLessonSettlement:ShowChangeRate()
end


]]>
</script>
<pe:container alignment="_lt" width="100%" height="100%" style="background-color: #00000082;">
    <div style="<%=format('position: relative; left:207;top:69; width: 1485; height: 960;background:url(%s);', GetIcon('live_lesson_comm_settlement_bot.png'))%>">
        <div style="<%=format('position: relative; left: 511; top: -35; width: 455;height: 106;background:url(%s);', GetIcon('live_lesson_comm_settlement_title_bot.png'))%>">
            <div style="position: relative;left: 112;top: 17;width: 230;height: 70;font-family: zkklt;font-size: 56;color: #ffffff;">下课结算</div>
        </div>

        <div style="<%=format('position: relative; left: 55; top: 92; width: 342;height: 79;background:url(%s);', GetIcon('live_lesson_settlement_btn_bot.png'))%>">
            <div style="position: relative;left: 83;top: 15;width: 230;height: 70;font-family: zkklt;font-size: 42;color: #613f22;">用户昵称</div>
        </div>
        <div style="<%=format('position: relative; left: 440; top: 92; width: 1021;height: 79;background:url(%s);', GetIcon('live_lesson_settlement_mat.png'))%>"></div>

        <!-- 学生信息 -->
        <div style="position: relative;left: 29;top: 192;width: 1438;height: 675;">
            <pe:treeview style="position: relative;width: 1438;height: 675;" name='students' DefaultNodeHeight = "0" ItemsPerLine="1" AllowPaging="false" RememberScrollPos="true" RememberLastPage="false" VerticalScrollBarStep="40">
                <pe:repeat DataSource="<%= GetStudentsInfo() %>">
                    <pe:repeatitem>
                        <div style="<%=format('width: 1438;height: 96;margin-bottom: 16;font-family: Noto Sans S Chinese Regular;text-align: center;font-size: 42;color: #dac9ae;background:url(%s);', GetIcon('live_lesson_settlement_mat_bot.png'))%>">
                            <!-- 学生详细信息 -->
                            <!-- 昵称 -->
                            <div style="position: relative;left: 28;top: 27;width: 330;"><%= Eval('nickname') %></div>
                            <!-- 节点 -->
                            <div style="position: relative;left: 413;top: 27;width: 150;"><%= Eval('rate_of_learn') %></div>
                            <!-- 首次答题正确率 -->
                            <div style="position: relative;left: 570;top: 27;width: 150;"><%= Eval('accuracy') %></div>
                            <!-- 综合答题排名 -->
                            <div style="position: relative;left: 725;top: 27;width: 150;"><%= Eval('rank') %></div>
                            <!-- 小组排名 -->
                            <div style="position: relative;left: 885;top: 27;width: 150;"><%= Eval('group_rank') %></div>
                            <!-- 奖励 -->
                            <div style="position: relative;left: 1043;top: 27;width: 150;"><%= Eval('reward_num') %></div>
                            <!-- 综合评分 增加更新功能 -->
                            <div onclick="ChangeGrade" name="<%= Eval('index') %>" style="position: relative;left: 1240;top: 23;width: 150;font-family: IMPACT;font-size: 48;"><%= Eval('rate') %></div>
                            <!-- <input type="text" MoveViewWhenAttachWithIME="true" onchange="ChangeGrade" value="<%= Eval('rate') %>" param1='<%= Eval("index") %>' EmptyText='' style="position: relative;left: 1275;top: 23;width: 90;height: 56;font-family: IMPACT;font-size: 48;background: #000000;"/> -->
                        </div>
                    </pe:repeatitem>
                </pe:repeat>
            </pe:treeview>
        </div>
    </div>

    <!-- 课堂结算 -->
    <div onclick="Settlement" style="<%=format('position: relative; left: 333; top: 962; width: 320;height: 105;background:url(%s);', GetIcon('live_lesson_comm_bot_02.png'))%>">
        <div style="<%=format('position: relative; left: 52; top: 20; width: 224;height: 53;background:url(%s);', GetIcon('live_lesson_settlement_mat_classroomsettlement.png'))%>"></div>
    </div>

    <!-- 下课 -->
    <pe:if condition='<%= LiveLessonSettlement.had_settlement == true %>'>
        <div onclick="Finish" style="<%=format('position: relative; left: 1218; top: 962; width: 320;height: 105;background:url(%s);', GetIcon('live_lesson_comm_btn_01.png'))%>">
            <div style="<%=format('position: relative; left: 97; top: 21; width: 138;height: 53;background:url(%s);', GetIcon('live_lesson_settlement_mat_finishclass.png'))%>"></div>
        </div>
    </pe:if>
    <pe:if condition='<%= LiveLessonSettlement.had_settlement ~= true %>'>
        <div style="<%=format('position: relative; left: 1218; top: 962; width: 320;height: 105;background:url(%s);', GetIcon('live_lesson_comm_btn_01.png'))%>">
            <div style="<%=format('position: relative; left: 97; top: 21; width: 138;height: 53;background:url(%s);', GetIcon('live_lesson_settlement_mat_finishclass.png'))%>"></div>
        </div>
    </pe:if>

</pe:container>
</pe:mcml>
</body>
</html>
  