<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_common.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="LiveLessonBasic.lua"><![CDATA[
NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Basic/LiveLessonBasic.lua")
LiveLessonBasic = commonlib.gettable("Mod.CodePku.Common.LiveLessonBasic")

function GetStudents()
    return LiveLessonBasic:GetStudents()
end

function OnClickAdd(index)
    LiveLessonBasic:RunGGSCommand("redflower", {type=1, num=1, index=index})
end

function OnClickReduce(index)
    LiveLessonBasic:RunGGSCommand("redflower", {type=2, num=1, index=index})
end

function OnClose()
    Page:CloseWindow()
    LiveLessonBasic.windowAward = nil
end

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="100%" height="100%">
    <div style="width: 350; height: 600; background-color: #ffffff; text-align: center; font-size: 18;">
        <div onclick="OnClose" style="position: relative; top: 0; width: 350; background-color: #797979;">
            <pe:repeat DataSource="<%= GetStudents() %>">
                <pe:repeatitem>
                    <div style="margin-bottom: 6; line-height: 30; width: 350; height: 30; color: #ff0000; background-color: #ceffd1;">
                        <div style="float: left; width: 150; text-align: left; background-color: #3a7fff;"><%= name %></div>
                        <div style="float: left; margin-left: 40; width: 60; background-color: #daff74;"><%= string.format("%s朵", redflower or 0) %></div>
                        <div name="<%= index %>" onclick="OnClickAdd" style="float: left; margin-left: 10; width: 36; background-color: #daff74;">加</div>
                        <div name="<%= index %>" onclick="OnClickReduce" style="float: left; margin-left: 10; width: 36; background-color: #daff74;">减</div>
                    </div>    
                </pe:repeatitem>
            </pe:repeat>
        </div>
    </div>
</pe:container>
</pe:mcml> 
</body>
</html>