<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_common.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="LiveLessonBasic.lua"><![CDATA[
NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Basic/LiveLessonBasic.lua")
LiveLessonBasic = commonlib.gettable("Mod.CodePku.Common.LiveLessonBasic")
local LiveLessonSettlement = NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Settlement/LiveLessonSettlement.lua");

function GetIcon(index)
    return LiveLessonBasic:GetIconPath(index)
end

function OnClickData()
    GameLogic.AddBBS(nil, L"答题闯关数据", 3000, "255 0 0", 21)
end

function OnClickClassOver()
    LiveLessonSettlement:TeacherSettlement()
end

function OnClose()
    Page:CloseWindow()
end

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="100%" height="100%">
    <div onclick="OnClose" style="width: 416; height: 81;">
        <div style="width: 416; height: 81;">
            <div onclick="OnClickData" style='<%= string.format("position: relative; left: 0; width: 238;  height: 81; background:url(%s);", GetIcon("live_lesson_btn_data.png")) %>'></div>
            <div onclick="OnClickClassOver" style='<%= string.format("position: relative; left: 254; width: 162;  height: 81; background:url(%s);", GetIcon("live_lesson_btn_classover.png")) %>'></div>
        </div>
    </div>
</pe:container>
</pe:mcml> 
</body>
</html>