<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_common.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="LiveLessonBasic.lua"><![CDATA[
NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Basic/LiveLessonBasic.lua")
LiveLessonBasic = commonlib.gettable("Mod.CodePku.Common.LiveLessonBasic")

function GetIcon(index)
    return LiveLessonBasic:GetIconPath(index)
end

function GetBehaviorIcon(index)
    if index then
        return LiveLessonBasic.behaviorTable[index]["path"]
    else
        return ""
    end
end

function GetStudents()
    return LiveLessonBasic:GetStudents()
end

function GetIentity()
    return LiveLessonBasic:GetIentity()
end

function GetTop()
    return GetIentity() and 248 or 143
end

function OnClickChangeMode()
    LiveLessonBasic:RunGGSCommand("changeMode")
end

function OnClickGrouping()
    LiveLessonBasic:ShowSubPage("group")
end

function OnClickKickOut(index)
    local name = GetStudents()[index]["name"]
    GameLogic.AddBBS(nil, string.format("%s  踢出到主世界",name), 3000, "255 0 0", 21)
    local userid = GetStudents()[index]["userid"]
    LiveLessonBasic:RunGGSCommand("kickout", {userid=userid})
end

function OnClickForcePlayMode(index)
    local name = GetStudents()[index]["name"]
    GameLogic.AddBBS(nil, string.format("%s  改成播放模式",name), 3000, "255 0 0", 21)
    local userid = GetStudents()[index]["userid"]
    LiveLessonBasic:RunGGSCommand("forceplaymode", {userid=userid})
end

function OnSwitch()
    LiveLessonBasic:Switch()
end

function OnClose()
    Page:CloseWindow()
    LiveLessonBasic.windowRight = nil
end

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="100%" height="100%">
    <pe:if condition="<%= not LiveLessonBasic.windowOpenFlag %>">
        <div onclick="OnSwitch" style='<%= string.format("position: relative; top: 425; width: 34; height: 258; background: url(%s);", GetIcon("live_lesson_icon.png")) %>'></div>
    </pe:if>
    <pe:if condition="<%= LiveLessonBasic.windowOpenFlag %>">
        <div style='<%= string.format("width: %d; height: 1034; text-align: center; font-family: zkklt; background:url(%s);",LiveLessonBasic.windowRightWidth, GetIcon("live_lesson_omm_bot_01.png")) %>'>        
            <div onclick="OnSwitch" style="position: relative; top: 425; width: 34; height: 258;"></div>
            <div style='<%= string.format("position: relative; left: -10; top: -16; width: 305; height: 113; padding-left: 10; padding-top: 45; color: #613f2e; font-size: 34; font-family: alhy; background:url(%s);", GetIcon("live_lesson_mat_bot_01.png")) %>'><%= GetIentity() and "集体操作" or "学员列表" %></div>
            <pe:if condition="<%= GetIentity() %>">
                <div onclick="OnClickChangeMode" style='<%= string.format("position: relative; left: 48; top: 74; width: 115; height: 108; color: #ffffff; background: url(%s);", GetIcon("live_lesson_but_edit.png")) %>'>
                    <div align="center" style="position: relative; left: 0; top: 17; font-size: 24;">全员</div>
                    <div align="center" style="position: relative; left: 0; top: 45; font-size: 17;">编辑模式</div>
                </div>

                <div style='<%= string.format("position: relative; left: 38; top: 194; width: 144; height: 49; background: url(%s);", GetIcon("live_lesson_studentslist_01png.png")) %>'></div>
                <div onclick="OnClickGrouping" style='<%= string.format("position: relative; left: 238; top: 195; width: 91; height: 47; background: url(%s);", GetIcon("live_lesson_but_grouping.png")) %>'></div>
            </pe:if>

            <div style='<%= string.format("position: relative; left: 40; top: %s; width: 305; height: 730;", GetTop()) %>'>
                <div style="width: 305;">
                    <pe:gridview name="students" style="" DataSource="<%= GetStudents() %>" CellPadding="0" DefaultNodeHeight="73" ItemsPerLine="1" AllowPaging="false" RememberScrollPos="true" RememberLastPage="true" pagesize="10">
                        <Columns>
                            <div style='<%= string.format("margin-left: 15; width: 284; height: 66; font-family: zkklt; font-size:24; color: #dac9ae; background: url(%s);", GetIcon("live_lesson_stundentid_bot_02.png")) %>'>

                                <div style="position: relative; left: 8; top: 20; width: 170; text-align: left;"><%= name %></div>
                                <pe:if condition="<%= GetIentity() %>">
                                    <div name="<%= index %>" onclick="OnClickKickOut" style='<%= string.format("position: relative; left: 234; top: 12; width: 43; height: 43; background: url(%s);", GetIcon("live_lesson_but_kick.png")) %>'></div>
                                    <!-- <div name="<%= index %>" onclick="OnClickForcePlayMode" style="float: left; margin-left: 10; width: 36; background-color: #daff74;">禁</div> -->
                                </pe:if>

                                <pe:if condition="<%= behavior ~= nil %>">
                                    <div style='<%= string.format("position: relative; width: 39; height: 38; text-align: left; background: url(%s);", GetBehaviorIcon(behavior)) %>'></div>
                                </pe:if>
                            </div>
                        </Columns>
                    </pe:gridview>
                </div>
            </div>
        </div>
    </pe:if>
</pe:container>
</pe:mcml> 
</body>
</html>