<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_common.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="LiveLessonBasic.lua"><![CDATA[
NPL.load("(gl)Mod/CodePku/cellar/GUI/LiveLesson/Basic/LiveLessonBasic.lua")
LiveLessonBasic = commonlib.gettable("Mod.CodePku.Common.LiveLessonBasic")

function GetIcon(index)
    return LiveLessonBasic:GetIconPath(index)
end

function GetBroadcastTips()
    return LiveLessonBasic.broadcastTips
end

function GetTipStyle(index)
    local iconPath = GetBroadcastTips()[index]["path"]
    local styleTable = {
        [1] = {left=69,top=21,width=192,height=59},
        [2] = {left=23,top=81,width=295,height=60},
        [3] = {left=16,top=143,width=308,height=59},
        [4] = {left=72,top=204,width=196,height=59},
        [5] = {left=72,top=265,width=196,height=59},
        [6] = {left=121,top=326,width=98,height=59},
        [7] = {left=121,top=387,width=98,height=59},
    }
    local left, top, width, height = styleTable[index].left, styleTable[index].top, styleTable[index].width, styleTable[index].height
    return string.format("position: relative; left: %s; top: %s; width: %s; height: %s; background: url(%s);", left, top, width, height, iconPath)
end

function OnClickTools(index)
    local text = GetBroadcastTips()[tonumber(index)] and GetBroadcastTips()[tonumber(index)]["text"]
    if text then
        LiveLessonBasic:RunGGSCommand("broadcast", {text=text})
    end
    OnClose()
end

function OnClose()
    Page:CloseWindow()
    LiveLessonBasic.windowBroadCast = nil
end

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="100%" height="100%">
    <div style="width: 340; height: 468; text-align: center; font-size: 18;">
        <div style='<%= string.format("width: 340; height: 468; background: url(%s)", GetIcon("live_lesson_bottom_shortcut02.png")) %>'>
            <pe:repeat DataSource="<%= GetBroadcastTips() %>">
                <pe:repeatitem>
                    <pe:if condition="<%= bShow == true %>">
                        <div name="<%= index %>" onclick="OnClickTools" style='<%= GetTipStyle(index) %>'></div>
                    </pe:if>          
                </pe:repeatitem>
            </pe:repeat>
        </div>
    </div>
</pe:container>
</pe:mcml> 
</body>
</html>