<!-- "Mod/CodePku/cellar/Gui/FriendUI/MyFriend.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl">
<![CDATA[

NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/TaskSystem/TaskSystem.lua")
local TaskSystem = commonlib.gettable("Mod.CodePku.celler.TaskSystem")

local ToWhere = commonlib.gettable("Mod.CodePku.GUI.Popup.ToWhere")
local page = document:GetPageCtrl()
Mod.CodePku.Store:Set("page/TaskPage", page)

task_table = TaskSystem.goal

reward_table = TaskSystem.goalReward

---------------------------------------------- 下面处理左侧任务奖励
function getTagType(index)
    local tabType = {"所有","学习","游戏","游览"}
    local index = tonumber(tag_types)+1
    return tabType[index]
end

function getFinishType(index)
    return TaskSystem:GetTaskDeac(TaskSystem.goal[index])
end

function getText(index)
    local index = tonumber(index)
    local state_table = {"领取", "前往", "未完成", "已完成"}   --按钮的内容
    return state_table[status]
end

function getBG(index)
    local state_bg_table = {"497 226 167 87:15 15 15 15", "496 114 166 87:15 15 15 15", "497 342 166 87:15 15 15 15"}     -- 按钮的样式 前往(未完成) 领取 已完成
    if status == 4 then
        return state_bg_table[3]
    elseif status == 1 then
        return state_bg_table[2]
    else
        return state_bg_table[1]
    end
end

function showRewardBg(status)
    local reward_bg = {"343 240 111 51", "347 329 106 52", "345 149 106 52"} -- 顺序为 未完成 可领取 已领取
    if(status == 4)then   --奖励已领取
        return reward_bg[3]
    elseif(status == 1)then   --奖励可领取
        return reward_bg[2]
    else
        return reward_bg[1]
    end
end

function getRwardLeft(index)
    leftLen = {"588","488","388"}
    local len = #TaskSystem.goal[index]["reward_json"]
    return leftLen[len]
end

function getWordWidth(index)
    local width = {"550","460","390"}
    local len = #TaskSystem.goal[index]["reward_json"]
    return width[len]
end

function HandleTask(taskIndex)
    TaskSystem:HandleClickEvent(TaskSystem.goal[taskIndex])
end

-------------------------------------------- 下面处理右侧累计奖励
function showFinishedInfo(finish_count_now, finish_count)
    if finish_count_now >= finish_count then
        return finish_count.."/"..finish_count
    else
        return finish_count_now.."/"..finish_count
    end
end

function handleReward(rewardIndex)
    TaskSystem:ShowPopupPage(1, rewardIndex)
end

function ClickBigPlan()
    ClosePage()
    TaskSystem:ShowPage(2,true)
end

function ClosePage()
    Page:CloseWindow();
end

]]>
</script>

<pe:container alignment="_lt" width="1920" height="1080">

    <div style="position: relative; width: 1768; height: 978; left: 76; top: 55; background: url(codepku/image/textures/tasksystem/small_bg.png);"></div>

    <div style="position: relative; width: 410; height: 89; left: 755; top: 118; font-size: 70; color: #D85D0B; font-family: Noto Sans S Chinese Regular; font-weight: bold; text-align: center; line-height: 89; background: url(codepku/image/textures/common_32bits.png#1277 377 410 87);">
        学习计划
    </div>

    <div style="position: relative; width: 64; height: 74; left: 1708; top: 118; background: url(codepku/image/textures/common_32bits.png#110 73 68 78);" onclick="ClosePage"></div>

    <div style="position: relative; width: 160; height: 99; left: 104; top: 312; font-size: 36; color: #FFFFFF; font-family: Noto Sans S Chinese Regular; line-height: 99; text-align: center; background: url(codepku/image/textures/tasksystem/main.png#17 8 160 100:15 15 15 3);" onclick="ClickSamllGoal">
        小目标
    </div>

    <div style="position: relative; width: 160; height: 99; left: 104; top: 451; font-size: 36; color: #FFFFFF; font-family: Noto Sans S Chinese Regular; line-height: 99; text-align: center; background: url(codepku/image/textures/tasksystem/main.png#17 129 160 100:15 15 15 3);" onclick="ClickBigPlan">
        大计划
    </div>

    <!-- 计划列表 -->
    <div style="position: relative; width: 928; height: 680; left: 307; top: 297;">
        <pe:gridview name="MyFriend" style=" width: 928; height:680; " 
            DataSource='<%= TaskSystem.goal %>' CellPadding="10" ItemsPerLine="1" AllowPaging="false" RememberScrollPos="true" RememberLastPage="true" 
            VerticalScrollBarStep="100" VerticalScrollBarOffsetX="8">
            <Columns>
                <div style="width: 888; height: 178; margin-bottom: 28;">
                    <div style="position: relative; width: 888; height: 141; top: 47; line-height: 141; background: url(codepku/image/textures/tasksystem/main.png#21 252 251 141:12 12 12 12);"></div>
                    <div style="position: relative; width: 187; height: 78; line-height: 78; background: url(codepku/image/textures/tasksystem/main.png#14 428 167 58:6 6 6 6);">
                        <span style="position: relative; left: 36; color: #B35D0A; font-size: 34; font-family: Noto Sans S Chinese Regular;"><%=getTagType(index)%></span>
                    </div>

                    <div style="<%=format('position: relative; width: 159.2; height: 80; left: 702; top: 76; color: #FEFEFE; line-height: 80; text-align: center; font-size: 36; font-family: Noto Sans S Chinese Regular; font-weight: bold; background: url(codepku/image/textures/tasksystem/main.png#%s);', getBG(index))%>" name="<%=Eval('index')%>" onclick="HandleTask">
                        <%=getText(index)%>
                    </div>

                    <div style="<%=format('position: relative;width: 360; height: 141; left: 30; top: 90;white-space:pre-wrap; line-height: 38; color:#123655; font-size: 30; font-family: Noto Sans S Chinese Regular;', getWordWidth(index)) %>">
                        <%=Eval('intro')%><%=getFinishType(index)%>
                    </div>

                    <div style="<%= format('position: relative; height: 100; left: 388; top: 68;', getRwardLeft(index)) %>">
                        <pe:repeat DataSource="<%=reward_json%>">
                            <div style="float:left;width: 100; height: 100;background:url(codepku/image/textures/common_32bits.png#264 879 126 125);">
                                <div style="<%= format('position: relative; left: 23;top: 23;width: 54; height: 54;background:url(%s);', prop_icon_url) %>"></div>
                                <div style="width: 100; height: 100;background:url(codepku/image/textures/common_32bits.png#99 873 134 134);"></div>
                                <div style="position: relative;top:-25;;width: 90; text-align: right; font-size: 18; color: #7996ed; font-family: Noto Sans S Chinese Regular;"><%=Eval('reward_num')%></div>
                            </div>
                            <!-- <div style="<%=format('width: 100; height: 100; float: left; background: url(%s);', getRwardBG(index))%>">
                                <div style="width: 40; margin-left: 50; margin-top: 75;  text-align: center; font-size: 18; color: #7996ED; font-family: Noto Sans S Chinese Regular;"><%=Eval('reward_num')%></div>
                            </div> -->
                        </pe:repeat>
                    </div>
                </div>
            </Columns>
        </pe:gridview>
    </div>

    <div style="position: relative; width: 573; height: 55; left: 1239; top: 237; line-height: 55; text-align: center; color: #FFFFFF; font-size: 36; font-family: Noto Sans S Chinese Regular; background: url(codepku/image/textures/tasksystem/main.png#232 24 573 55);">小目标任务与奖励每日六点重置</div>

    <!-- 待办列表 -->
    <div style="position: relative; width: 540; height: 660; left: 1256; top: 310;">
        <pe:gridview name="" style=" width: 540; height:660; " 
            DataSource='<%=TaskSystem.goalReward %>' CellPadding="15" ItemsPerLine="2" AllowPaging="false" RememberScrollPos="true" RememberLastPage="true" 
            VerticalScrollBarStep="36" VerticalScrollBarOffsetX="8">
            <Columns>
                <div style="width: 190; height: 160;margin-left: 43; margin-top: 34;" onclick="handleReward">
                    <div style="position: relative; width: 189; height: 119; background: url(codepku/image/textures/tasksystem/main.png#25 574 189 119);" name="<%=Eval('index')%>" onclick="handleReward"></div>
                    <pe:if condition='<%= TaskSystem.goalReward[index]["reward_received"] == 1 %>'>
                        <div style="position: relative; width: 48; height: 53; left: 23; top: -30; background: url(codepku/image/textures/tasksystem/main.png#243 448 48 53);"></div>
                    </pe:if>
                    <div style="<%=format('position: relative; width: 106; height: 52; left: 41; top: 35; background: url(codepku/image/textures/tasksystem/main.png#%s);', showRewardBg(status) )%>" name="<%=Eval('index')%>"  onclick="handleReward"></div>
                    <div style="width: 190; height: 32; margin-top: 128; text-align: center; color: #EEF9E9; line-height: 32; font-size: 32; font-family: PuHuiTi-Bold;"><%=showFinishedInfo(finish_count_now,finish_count)%></div>
                </div>
            </Columns>
        </pe:gridview>
    </div>

</pe:container>

</pe:mcml>
</body>

</html>