<html>
    <head>
        <title>20200526</title>
    </head>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    NPL.load("(gl)script/apps/Aries/Creator/Game/Login/Rebranding.lua")
                    Rebranding = commonlib.gettable("MyCompany.Aries.Creator.Game.Rebranding")
                    local GameMainLogin = commonlib.gettable("MyCompany.Aries.Game.MainLogin")
                    local MainLogin = NPL.load("./MainLogin.lua")                                                            
                    local CodePkuServiceSession = NPL.load("(gl)Mod/CodePku/service/CodePkuService/Session.lua")

                    local page = document:GetPageCtrl()
                    Mod.CodePku.Store:Set("page/MainLogin", page)

                    function OnOpenModulePage()
                        NPL.load("(gl)script/apps/Aries/Creator/Game/Login/SelectModulePage.lua");
                        local SelectModulePage = commonlib.gettable("MyCompany.Aries.Game.MainLogin.SelectModulePage")
                        SelectModulePage.ShowPage()
                    end

                    function OnChangeLanguagePage()
                        NPL.load("(gl)script/apps/Aries/Creator/Game/Common/Translation.lua")

                        local Translation = commonlib.gettable("MyCompany.Aries.Game.Common.Translation")
                        Translation.ShowPage(function()
                            page:Refresh(0.01)
                        end)
                    end

                    function GetModDes()
                        local modname = ParaEngine.GetAppCommandLineByParam("mod","")
                        local s = string.format(L"当前Mod:%s",modname)
                        return s
                    end

                    function OnCustomCharacter()
                    end                                        
                        
                    function GetModCountAsString()
                        NPL.load("(gl)script/apps/Aries/Creator/Game/Mod/ModManager.lua")
                        local ModManager = commonlib.gettable("Mod.ModManager")
                        local pluginloader = ModManager:GetLoader()
                        local nCount = pluginloader:GetActiveModCount()

                        if nCount > 0 then
                            return format("(%d)", nCount)
                        else
                            return ""
                        end
                    end

                    function OnClickCustomerService()
                        ParaGlobal.ShellExecute("open", L"https://keepwork.com/official/docs/FAQ/questions", "", "", 1)
                    end

                    function login_text()
                        return Mod.CodePku.Store:Get("user/loginText")
                    end

                    function get_english_style(styleStr)
                        if Mod.CodePku.Utils.IsEnglish() then
                            return styleStr
                        else
                            return ''
                        end
                    end

                    function get_history_users()
                        return MainLogin:GetHistoryUsers()
                    end

                    function login()
                        MainLogin:LoginAction()
                    end                
                
                    function select_account(name, username)
                        MainLogin:SelectAccount(username)
                    end

                    function remove_account(username)
                        MainLogin:RemoveAccount(username)
                    end

                    function write_accout(name, mcmlNode)
                        local username = mcmlNode:GetUIValue()
                        page:SetValue("account", username)
                    end

                    function get_mobile_code()                                                
                        MainLogin:getMobileCode()
                    end
                ]]>
            </script>
            <style type="text/mcss">
                {
                    user_login = {
                        width = 320,
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        color = "#ffffff",
                        ["padding-right"] = 40,
                        ["padding-left"] = 40,
                        ["padding-top"] = 20,
                        ["padding-bottom"] = 20,
                    },
                    text_field = {
                        background = "textures/worldshare_32bits.png;72 20 16 16:3 3 3 3",
                        border = "none",
                        width = 165,
                    },                    
                    login_button = {
                        ["margin-left"] = 20,
                        width = 200,
                        height = 33,
                        textcolor = "#000000",
                        color = "#000000",
                        ["font-size"] = 18
                        background = "textures/worldshare_32bits.png;149 104 17 16:4 4 4 4",
                    },
                }
            </style>

            <pe:container alignment="_ct" ClickThrough="true" style="position:relative;background:;margin-left:-260px;margin-top:-250px;width:520px;height:500px;">
                <!-- <div style='<%="position:relative;margin-left:145px;margin-top: 40px;width: 231px;height: 98px;background:url(textures/worldshare_32bits.png#12 345 231 98);"%>'></div>                                 -->
                <div style="position:relative;margin-left:100px;margin-top: 80px;padding-top: 50px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#267 89 34 34:8 8 8 8)">
                    <div name="login" class="user_login">
                        <pe:if condition="<%= login_text() ~= nil %>">
                            <div style="margin-bottom:15px;"><%= login_text()%></div>
                        </pe:if>
                        <div style="margin-bottom:12px;">
                            <!-- <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:73px;') %>"><%= L"账号：" %></div> -->
                            <select name="account"
                                    DataSource="<%= get_history_users() %>"
                                    EmptyText='<%= L"请输入手机号码" %>'
                                    onselect="<%= select_account %>"
                                    onremove="<%= remove_account %>"
                                    class="bbs_text text_field"
                                    style="height: 30px;">
                            </select>
                            <input name="showaccount" onchange="write_accout" type="text" class="bbs_text" style="height: 30px;margin-left: -165px; width: 140px;" EmptyText='<%= L"请输入手机号码" %>' />
                        </div>
                        <div style="margin-bottom:12px;">
                            <!-- <div style="float:left;min-width:65px"><%= L"密码：" %></div> -->
                            <input type="text" class="bbs_text text_field" style="height: 30px;" name="verify_code"  EmptyText='<%= L"请输入验证码" %>'/>
                            <input type="button" class="login_button" DefaultButton="true" name="get_mobile_code_text" onclick="get_mobile_code()" value='<%= L"获取验证码"%>' />
                        </div>                        
                        <div style="margin-top:30px;margin-bottom:15px;">       
                            <input type="button" DefaultButton="true" class="login_button" onclick="login()" value='<%= L"登 录"%>' />
                        </div>                        
                    </div>
                </div>
            </pe:container>
        </pe:mcml>
    </body>
</html>