<!-- 
Author: zouren
Date: 2020-10-22 19:07:50
Des:
Path:"Mod/CodePku/cellar/GUI/Branch/ChooseBranch.html"
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="ChooseBranch.lua"><![CDATA[
NPL.load("(gl)Mod/CodePku/cellar/GUI/Branch/ChooseBranch.lua")
ChooseBranch = commonlib.gettable("Mod.CodePku.GUI.ChooseBranch")

local branchImageData = NPL.load("(gl)Mod/CodePku/cellar/imageLuaTable/branchImageData.lua")
local common1ImageData = NPL.load("(gl)Mod/CodePku/cellar/imageLuaTable/common1ImageData.lua")
ChooseBranch.HTMLStyleData = {
    [1] = { ["desc"] = "背景图片", ["position"] = "absolute", ["left"] = 624, ["top"] = 18, ["width"] = 699, ["height"] = 1000, ["background"] = "url("..branchImageData:GetIconUrl("branch_boot_01.png")..")",},
    [2] = { ["desc"] = "退出按钮", ["position"] = "absolute", ["left"] = 1213, ["top"] = 4, ["width"] = 77, ["height"] = 123, ["background"] = "url("..common1ImageData:GetIconUrl("comm_btn_close.png")..")",},
    [3] = { ["desc"] = "切换分线按钮", ["position"] = "absolute", ["left"] = 830, ["top"] = 957, ["width"] = 298, ["height"] = 101, ["background"] = "url("..common1ImageData:GetIconUrl("common_btn_green01.png")..")",},
    [4] = { ["desc"] = "爆满图标", ["position"] = "relative", ["left"] = 89, ["top"] = 186, ["width"] = 52, ["height"] = 52, ["background"] = "url("..branchImageData:GetIconUrl("branch_icon_r.png")..")",},
    [5] = { ["desc"] = "爆满文字", ["position"] = "relative", ["left"] = 161, ["top"] = 194, ["width"] = 104, ["height"] = 52, ["color"] = "#9e6c5e", ["font-family"] = "zkklt", ["font-size"] = "40px",},
    [6] = { ["desc"] = "繁忙图标", ["position"] = "relative", ["left"] = 278, ["top"] = 186, ["width"] = 52, ["height"] = 52, ["background"] = "url("..branchImageData:GetIconUrl("branch_icon_y.png")..")",},
    [7] = { ["desc"] = "繁忙文字", ["position"] = "relative", ["left"] = 350, ["top"] = 194, ["width"] = 104, ["height"] = 52, ["color"] = "#9e6c5e", ["font-family"] = "zkklt", ["font-size"] = "40px",},
    [8] = { ["desc"] = "流畅图标", ["position"] = "relative", ["left"] = 467, ["top"] = 186, ["width"] = 52, ["height"] = 52, ["background"] = "url("..branchImageData:GetIconUrl("branch_icon_g.png")..")",},
    [9] = { ["desc"] = "流畅文字", ["position"] = "relative", ["left"] = 539, ["top"] = 194, ["width"] = 104, ["height"] = 52, ["color"] = "#9e6c5e", ["font-family"] = "zkklt", ["font-size"] = "40px",},
    [10] = { ["desc"] = "标题文字", ["position"] = "relative", ["left"] = 210, ["top"] = 31, ["width"] = 400, ["height"] = 120, ["color"] = "#9e6c5e", ["font-family"] = "zkklt", ["font-size"] = "65px",},
    [11] = { ["desc"] = "滚动区域", ["position"] = "relative", ["left"] = 60, ["top"] = 256, ["width"] = 565, ["height"] = 670,},
    [12] = { ["desc"] = "分线栏背景(未选择)", ["width"] = 535, ["height"] = 106, ["top"] = 30,["background"] = "url("..branchImageData:GetIconUrl("branch_boot_g.png")..")",},
    [13] = { ["desc"] = "分线栏背景(选中)", ["width"] = 535, ["height"] = 107, ["top"] = 30,["background"] = "url("..branchImageData:GetIconUrl("branch_boot_w.png")..")",},
    [14] = { ["desc"] = "分线栏状态标签(流畅)", ["position"] = "relative", ["left"] = 24, ["top"] = 30, ["width"] = 52, ["height"] = 52,["background"] = "url("..branchImageData:GetIconUrl("branch_icon_g.png")..")",},
    [15] = { ["desc"] = "分线栏文字",  ["position"] = "relative", ["left"] = 139, ["top"] = 36, ["width"] = 350, ["height"] = 60, ["color"] = "#813010", ["font-family"] = "zkklt", ["font-size"] = "48",},
    [16] = { ["desc"] = "切换分线按钮文字",  ["position"] = "relative", ["left"] = 49, ["top"] = 26, ["width"] = 199, ["height"] = 41,["background"] = "url("..branchImageData:GetIconUrl("branch_icon_g_mat.png")..")",},
    [17] = { ["desc"] = "分线栏状态标签(繁忙)", ["position"] = "relative", ["left"] = 24, ["top"] = 30, ["width"] = 52, ["height"] = 52,["background"] = "url("..branchImageData:GetIconUrl("branch_icon_y.png")..")",},
    [18] = { ["desc"] = "分线栏状态标签(爆满)", ["position"] = "relative", ["left"] = 24, ["top"] = 30, ["width"] = 52, ["height"] = 52,["background"] = "url("..branchImageData:GetIconUrl("branch_icon_r.png")..")",},
    [19] = { ["desc"] = "服务器标签背景", ["position"] = "relative", ["left"] = 394, ["top"] = -90, ["width"] = 143, ["height"] = 38,["background"] = "url("..branchImageData:GetIconUrl("branch_boot_f.png")..")",},
    [20] = { ["desc"] = "服务器标签文字", ["position"] = "relative", ["left"] = 19, ["top"] = 5, ["width"] = 125, ["height"] = 38, ["color"] = "#813010", ["font-family"] = "zkklt", ["font-size"] = "30",},
    [21] = { ["desc"] = "滚动栏item大小", ["left"] = 20, ["width"] = 565, ["height"] = 140,},
    [22] = { ["desc"] = "当前线路固定提示", ["position"] = "relative", ["left"] = 16, ["top"] = 100, ["width"] = 134, ["height"] = 57,["background"] = "url("..branchImageData:GetIconUrl("branch_currentline.png")..")",},
    [23] = { ["desc"] = "当前线路标识图片", ["position"] = "relative", ["left"] = -15, ["top"] = -100, ["width"] = 35, ["height"] = 57,["background"] = "url("..branchImageData:GetIconUrl("branch_currentline_fireballoon.png")..")",},
    [24] = { ["desc"] = "当前线路标识图片2", ["position"] = "relative", ["left"] = 415, ["top"] = -55, ["width"] = 88, ["height"] = 60,["background"] = "url("..branchImageData:GetIconUrl("branch_arrow_pen.png")..")",},
    [25] = { ["desc"] = "等待分线数据文字", ["position"] = "relative", ["left"] = 158, ["top"] = 461, ["width"] = 440, ["height"] = 60, ["color"] = "#813010", ["font-family"] = "zkklt", ["font-size"] = "55",},
    [26] = { ["desc"] = "当前世界文字提示", ["position"] = "relative", ["left"] = 157, ["top"] = 136, ["width"] = 490, ["height"] = 35, ["text-align"] = "right", ["color"] = "#813010", ["font-family"] = "zkklt", ["font-size"] = "32",},
}

function GetStyleStr(index)
    return ChooseBranch:GetHTMLStyleStr(index)
end

function PlayAnim()
    GameLogic.AddBBS(nil, L"测试动画", 3000, "255 0 0", 21)
    local node = ParaUI.GetUIObject("root")
    local block = UIDirectAnimBlock:new();
    block:SetUIObject(node);
    block:SetTime(200);
    block:SetScalingXRange(0.5, 1);
    block:SetScalingYRange(0.5, 1);
    block:SetAlphaRange(0.2, 1);
    block:SetApplyAnim(true); 
    UIAnimManager.PlayDirectUIAnimation(block);
end

function OnClose()
    Page:CloseWindow()
    if ChooseBranch.ui then
        ChooseBranch.ui = nil
    end
end

function OnChooseBranchBtnClicked()
    ChooseBranch:changeBranch()
    OnClose()
end

function ChangeBranch(name)
    ChooseBranch:changeCurrBranch(name)
    Page:Refresh(0.01)
end

function GetBranchName(branchId, serverId)
    return ChooseBranch:getBranchName(branchId, serverId)
end

function GetCurrWorldName()
    return ChooseBranch:getCurrWorldName()
end

function GetServerName(serverId)
    return ChooseBranch:GetServerName(serverId)
end

function GetBranchStateIconHTML(branchId, ip, port)
    return ChooseBranch:GetBranchStateIconHTML(branchId, ip, port)
end


]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="1920" height="1080">
    <pe:div name="branch_bg" style="<%=GetStyleStr(1)%>">
        <pe:div style="<%=GetStyleStr(4)%>"></pe:div>
        <pe:div style="<%=GetStyleStr(6)%>"></pe:div>
        <pe:div style="<%=GetStyleStr(8)%>"></pe:div>
        <pe:div style="<%=GetStyleStr(5)%>"><%=L"爆满"%></pe:div>
        <pe:div style="<%=GetStyleStr(7)%>"><%=L"繁忙"%></pe:div>
        <pe:div style="<%=GetStyleStr(9)%>"><%=L"流畅"%></pe:div>
        <pe:div style="<%=GetStyleStr(10)%>"><%=L"选择分线"%></pe:div>
        <pe:div style="<%=GetStyleStr(22)%>"></pe:div>
        <pe:div style="<%=GetStyleStr(26)%>"><%= GetCurrWorldName() %></pe:div>

        <pe:if condition="<%= ChooseBranch.branchStateTable == nil %>">
            <pe:div style="<%=GetStyleStr(25)%>"><%=L"获取分线列表中..."%></pe:div>
        </pe:if>
        <pe:if condition="<%= ChooseBranch.branchStateTable ~= nil %>">
            <pe:gridview style="<%=GetStyleStr(11)%>"
                DataSource='<%= ChooseBranch.branchStateTable %>' CellPadding="0" ItemsPerLine="1" RememberScrollPos="true"
                VerticalScrollBarStep="25" VerticalScrollBarOffsetX="8" DefaultNodeHeight="140">
                <Columns>
                    <pe:if condition="<%= Eval('branchId') ~= ChooseBranch.currChooseBranch or Eval('serverId') ~= ChooseBranch.currChooseServer %>">
                        <div style="<%=GetStyleStr(21)%>">
                            <div name='<%=string.format("%s__%s",Eval("branchId"),Eval("serverId"))%>'  onclick="ChangeBranch" style="<%=GetStyleStr(12)%>">
                                <div style="<%=GetStyleStr(15)%>"><%= GetBranchName(Eval('branchId'), Eval('serverId')) %></div>
                                <!-- <div style="<%=GetStyleStr(14)%>"></div> -->
                                <div style="<%=GetBranchStateIconHTML(Eval('branchId'), Eval('ip'), Eval('port'))%>"></div>
                            </div>
                            <!-- <div style="<%=GetStyleStr(19)%>">
                                <div style="<%=GetStyleStr(20)%>"><%= GetServerName(Eval('serverId')) %></div>
                            </div> -->
                            <pe:if condition="<%= Eval('branchId') == ChooseBranch.currBranchData['branchId'] and Eval('serverId') == ChooseBranch.currBranchData['serverId'] %>">
                                <pe:div style="<%=GetStyleStr(23)%>"></pe:div>
                            </pe:if>
                        </div>
                    </pe:if>
                    <pe:if condition="<%= Eval('branchId') == ChooseBranch.currChooseBranch and Eval('serverId') == ChooseBranch.currChooseServer %>">
                        <div style="<%=GetStyleStr(21)%>">
                            <div style="<%=GetStyleStr(13)%>">
                                <div style="<%=GetStyleStr(15)%>"><%= GetBranchName(Eval('branchId'), Eval('serverId')) %></div>
                                <!-- <div style="<%=GetStyleStr(14)%>"></div> -->
                                <div style="<%=GetBranchStateIconHTML(Eval('branchId'), Eval('ip'), Eval('port'))%>"></div>
                            </div>
                            <!-- <div style="<%=GetStyleStr(19)%>">
                                <div style="<%=GetStyleStr(20)%>"><%= GetServerName(Eval('serverId')) %></div>
                            </div> -->
                            <pe:div style="<%=GetStyleStr(24)%>"></pe:div>
                            <pe:if condition="<%= Eval('branchId') == ChooseBranch.currBranchData['branchId'] and Eval('serverId') == ChooseBranch.currBranchData['serverId'] %>">
                                <pe:div style="<%=GetStyleStr(23)%>"></pe:div>
                            </pe:if>
                        </div>
                    </pe:if>
                </Columns>
            </pe:gridview>
        </pe:if>
    </pe:div>
    
    <pe:div name="exitBtn" onclick="OnClose" style="<%=GetStyleStr(2)%>"></pe:div>
    <pe:div name="chooseBranchBtn" onclick="OnChooseBranchBtnClicked" style="<%=GetStyleStr(3)%>">
        <pe:div style="<%=GetStyleStr(16)%>"></pe:div>
    </pe:div>

</pe:container>
</pe:mcml>
</body>
</html>
