<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
    <script type="text/npl" refresh="false"><![CDATA[
                UserConsole = NPL.load('./Main.lua')
                CodePkuService = NPL.load("(gl)Mod/CodePku/service/CodePkuService.lua")

                local page = document:GetPageCtrl()
                Mod.CodePku.Store:Set("page/StartLearning", page)

                function startLearning()
                    UserConsole:CourseEntry()
                end

                function currentUserName()
                    if System.User.nickName then
                        return System.User.nickName
                    else
                        local userinfo = Mod.CodePku.Store:Get('user/info');
                        local nickname = userinfo.nickname or userinfo.username or userinfo.mobile;
                        LOG.std(nil, "info", "codepku", username)
                        return nickname;
                    end
                end

                function logout()
                    UserConsole:Logout()
                end

                function ClickCommunity()
                    ParaGlobal.ShellExecute("open", L"http://kids.wanxueshijie.com/", "", "", 1)
                end
            ]]></script>
            <style type="text/mcss">
                
            </style>




            <pe:container alignment="_lt" width="1920" height="1080">

                <div onclick="startLearning()" width="100%" height="100%" style="position: relative; left: 0; top: 0;"></div>

                <div style="position: relative; width: 384; height: 161; left: 768; top: 60; background:url(codepku/image/textures/login/main.png#1170 54 384 161)"></div>

                <div style="position: relative; width: 757; height: 88; left: 582; top: 290; line-height: 88; text-align: center; font-size: 38; font-family: Source Han Sans SC; font-weight: bold; color: #FFFFFF; background:url(codepku/image/textures/login/main.png#873 270 96 88:20 20 20 20)">
                    <%= currentUserName().."，欢迎进入玩学世界" %> 
                </div>

                <div style="position: relative; width: 602; height: 88; left: 659; top: 474; background:url(codepku/image/textures/login/main.png#56 270 602 88);"></div>

                <!-- <pe:container alignment="_rt" ClickThrough="true" style="position:relative;background:;">
                    <input type="button" name="logout" value='' class="logout" onclick="logout()" style="margin: 2px 2px 0 0" />
                </pe:container>
                
                <pe:container alignment="_rt" ClickThrough="true" style="position:relative;background:;">
                    <div name="community" class="community" style="margin: 2px 2px 0 0" onclick="ClickCommunity"></div>
                </pe:container> -->

                <div style="position: relative; width: 76; height: 119; left: 1790; top: 38; background:url(codepku/image/textures/login/main.png#1392 255 76 119);" onclick="logout"></div>
                <div style="position: relative; width: 79; height: 119; left: 1787; top: 180; background:url(codepku/image/textures/login/main.png#1256 255 79 119);" onclick="ClickCommunity"></div>

                <!-- <pe:if condition="<%= System.os.IsMobilePlatform() %>">
                        <pe:container alignment="_ctt" ClickThrough="true" style="position:relative;width:372px;margin-top:247.2px;height:42.6px;background:codepku/image/textures/login/mainlogin_32bits.png# 1000 1649 620 72);">
                            <!-1- <input type="button" DefaultButton="true" onclick="startLearning()" class="start" value='' /> -1->
                        </pe:container>
                </pe:if>
                <pe:if condition="<%= not System.os.IsMobilePlatform() %>">
                    <pe:container alignment="_ct" ClickThrough="true" class="click_window">
                        <!-1- <input type="button" DefaultButton="true" onclick="startLearning()" class="start" value='' /> -1->
                    </pe:container>
                </pe:if> -->


            </pe:container>


            


            <!-- <pe:container alignment="_fi" ClickThrough="true" style="position: relative;background:;">
                <div style="background:'';" onclick="startLearning()" width="100%" height="100%"></div>
            </pe:container>
            <pe:container alignment="_ctt" ClickThrough="true" style="position:relative;width:574;height:86;margin-top:71px;background:;">
                <div style='<%="width:574;height:86;background:url(codepku/image/textures/bg_32bits.png# 383 71 1148 172);"%>'></div>
            </pe:container>
            <pe:container alignment="_rt" ClickThrough="true" style="position:relative;background:;">
                <input type="button" name="logout" value='' class="logout" onclick="logout()" style="margin: 2px 2px 0 0" />
            </pe:container>
            
            <pe:container alignment="_ctt" ClickThrough="true" style="position:relative;width:561px;height:45px;margin-top:200px;background:url(codepku/image/textures/login/mainlogin_32bits.png# 32 1367 1035 74);text-align:center;">
                <pe:container alignment="_ctt" style="font-size:20.4px;base-font-size:20.4px;font-weight:bold;background:;margin-top:8px;">
                    <%= currentUserName() %> ，欢迎进入玩学世界
                </pe:container>
            </pe:container>
            <pe:if condition="<%= System.os.IsMobilePlatform() %>">
                <pe:container alignment="_ctt" ClickThrough="true" style="position:relative;width:372px;margin-top:247.2px;height:42.6px;background:codepku/image/textures/login/mainlogin_32bits.png# 1000 1649 620 72);">
                
                </pe:container>
            </pe:if>
            <pe:if condition="<%= not System.os.IsMobilePlatform() %>">
                <pe:container alignment="_ct" ClickThrough="true" class="click_window">

                </pe:container>
            </pe:if> -->
        </pe:mcml>
    </body>
</html>