<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="AchievementFrame.lua"><![CDATA[
AchievementPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/AchievementFrame/AchievementFrame.lua");
local page = document:GetPageCtrl()


AchievementPage:Init()
AchievementPage.mainpage = page

function AchievementPage.ClickedTopNavig()
    -- 点击导航栏
    if AchievementPage.show_top_navig == 0 then
        AchievementPage.show_top_navig = 1
        Page("#top_navig_select"):SetAttribute('style','width: 232;')
    else
        AchievementPage.show_top_navig = 0
        Page("#top_navig_select"):SetAttribute('style','width: 232; display:none')
    end
    Page:Refresh(0)
end

function AchievementPage.ClickedTopNavigIndex(name)
    -- 选择下拉导航栏
    for k,v in pairs(AchievementPage.top_navig_table) do
        if name == v.name then
            AchievementPage.show_top_navig = 0
            Page("#top_navig_select"):SetAttribute('style','width: 232; display:none')
            AchievementPage.top_navig_index = k
        end
    end
    AchievementPage.SelectShowPage()
    Page:Refresh(0)
end







]]>
</script>
<style type="text/mcss">
</style>

<pe:container alignment="_lt" width="1690" height="953">
    <!-- 导航栏 -->
    <div style="position: relative;width: 160; height: 76;left: 1011;top:0;color:#FEFDFC;font-size: 36; font-family:Noto Sans S Chinese Regular; font-weight:bolder;line-height: 76;text-align: center;background: url(codepku/image/textures/profile/achievement.png#641 61 60 76:10 10 10 10);" onclick="AchievementPage.ClickedTopNavig"><%=AchievementPage.top_navig_table[AchievementPage.top_navig_index].title%></div>
    <!-- 下拉箭头 -->
    <div style="position: relative;width: 74; height: 76;left: 1169;top: 0;background: url(codepku/image/textures/profile/achievement.png#540 61 74 76); " onclick="AchievementPage.ClickedTopNavig">
        <div style="position: relative;width: 31; height: 22;left: 22;top: 27;background: url(codepku/image/textures/profile/achievement.png#837 99 31 22); "></div>
    </div>
    <!-- 成就 -->
    <div style="position: relative; width: 1299; height: 1000; top: 96;"></div>
    <pe:gridview name="achievement_content" style="position: relative; width: 1299; height: 953; left: 39;top: 69;" DataSource='<%=AchievementPage.achievementinfo.achievementdata%>' CellPadding="37" ItemsPerLine="4" AllowPaging="false" RememberScrollPos="true" VerticalScrollBarStep="36" VerticalScrollBarOffsetX="8">
        <Columns>
            <!-- 已解锁 -->
            <pe:if condition="<%=Eval('rank') == 1 and AchievementPage.top_navig_index ~= 3%>">
                <pe:div onclick="AchievementPage.ClickedAchievement" name="<%=Eval('id')%>" style="width: 263.1; height: 262.7;top: 10;">
                    <pe:div style='<%=format("position: relative;width: 263.1; height: 262.7;background:url(%s);", AchievementPage.award_png[3].url)%>'>
                        <!-- 未领取红点 -->
                        <pe:if condition="<%=Eval('rank') == 1 and Eval('status') == 2%>">
                            <pe:div style='<%=format("position: relative; width:40; height: 40; left: 235;top: -10;background:url(%s);", AchievementPage.award_png[13].url)%>'></pe:div>
                        </pe:if>
                        <!-- 成就名称 -->
                        <pe:div style='<%=format("position: relative; width:253; height: 80.5; left: 5;top: 180; font-size: 43; base-font-size: 43;color: #155f9e; font-family: PuHuiTi-Bold; text-align: center; line-height: 80.5;background:url(%s);", AchievementPage.award_png[5].url)%>'><%=Eval('name')%></pe:div>
                    </pe:div>
                </pe:div>
            </pe:if>
            <!-- 未解锁 -->
            <pe:if condition="<%=Eval('rank') == 2 and AchievementPage.top_navig_index ~= 2%>">
                <pe:div onclick="AchievementPage.ClickedAchievement" name="<%=Eval('id')%>" style="width: 263.1; height: 262.7;top: 10;">
                    <pe:div style='<%=format("width: 263.1; height: 262.7;background:url(%s);", AchievementPage.award_png[4].url)%>'>
                        <pe:div style="position: relative; width:45; height: 58; left: 109;top: 65;background: url(codepku/image/textures/profile/achievement.png#894 74 45 58)"></pe:div>
                        <pe:div style='<%=format("position: relative; width:253; height: 80.5; left: 4;top: 180; font-size: 43; base-font-size: 43;color: #686695; font-family: PuHuiTi-Bold; text-align: center; line-height: 80.5;background:url(%s);", AchievementPage.award_png[6].url)%>'><%=Eval('name')%></pe:div>
                    </pe:div>
                </pe:div>
            </pe:if>
        </Columns>
    </pe:gridview>
    <!-- 成就奖励 -->
    <div style="width: 391; height: 995; left:1299; top: -41; background-color: #1e67fa85;">
        <div style='<%=format("position: absolute;width: 139; height: 134; left:121; top: 157;background:url(%s);", AchievementPage.award_png[2].url)%>'></div>
        <div style="position: absolute;width: 300; height: 27; left:44; top: 337;font-size: 36;font-family: PuHuiTi-Bold; text-align: center;line-height: 27;color: #ffffff;"><%=AchievementPage.achievementinfo.userachievement.total_score%></div>
        <div style="position: absolute;width: 391; height: 101; top: 433;font-size: 43;font-family: PuHuiTi-Bold; text-align: center;line-height: 101;color: #155f9e;background: url(codepku/image/textures/profile/achievement.png#400 48 90 101);"><%=AchievementPage.achievementinfo.userachievement.title%></div>
        <div style="position: absolute;width: 134; height: 134; left: 132; top: 603;font-size:22;color: #bbcbfa;text-align:right;padding-top: 103;padding-right: 13;background: url(codepku/image/textures/profile/achievement.png#18 15 134 134);">
            <div style='<%=format("position:absolute;width:73px;height:71px;left:30px;top:32px;background:url(%s);", AchievementPage.award_png[1].url)%>'></div>
            <%=AchievementPage.achievementinfo.award.total%>
        </div>
        <pe:if condition="<%= AchievementPage.achievementinfo.award.total_unreceive > 0 %>">
            <div onclick="AchievementPage.ClickReceiveScore" style="<%=format('position: absolute;width: 245; height: 85; left: 78; top: 798;font-size:36;font-family:Noto Sans S Chinese Regular; font-weight:bolder;color: #fefefe;text-align:center;line-height: 80;background: url(%s);',AchievementPage.award_png[11].url)%>">
                <div style='<%=format("position: absolute;width: 44; height: 44; left: 213; top: -25;font-size:32;font-family:Noto Sans S Chinese Regular; font-weight:bolder;color: #ffffff;text-align:center;line-height: 44;background:url(%s);", AchievementPage.award_png[13].url)%>'><%=AchievementPage.achievementinfo.award.total_unreceive%></div>
                领取奖励
            </div>
        </pe:if>
        <pe:if condition="<%= AchievementPage.achievementinfo.award.total_unreceive == 0 %>">
            <div style="<%=format('position: absolute;width: 245; height: 85; left: 78; top: 798;font-size:36;font-family:Noto Sans S Chinese Regular; font-weight:bolder;color: #fefefe;text-align:center;line-height: 80;background: url(%s);',AchievementPage.award_png[12].url)%>">
                领取奖励
            </div>
        </pe:if>
    </div>
    <!-- 导航栏下拉 -->
    <div style="position: absolute;width: 232; left:1011; top: 73;">
        <div name='top_navig_select' style="width: 232; display: none;">
        <pe:repeat DataSource="<%=AchievementPage.top_navig_table%>">
            <pe:repeatitem>
                <pe:div style="width: 232; height: 66; text-align: center;padding-top: 2; base-font-size:36; font-size:36; line-height: 64;font-family:Noto Sans S Chinese Regular;font-weight:bolder; color: #FEFDFC;  background: url(codepku/image/textures/profile/achievement.png#744 66 66 66:10 10 10 10);" name="<%=Eval('name')%>" onclick="AchievementPage.ClickedTopNavigIndex"><%=Eval('title')%></pe:div>
            </pe:repeatitem>
        </pe:repeat>
        </div>
    </div>

</pe:container>

</pe:mcml>
</body>
</html>
 