<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="Schoolyard.lua"><![CDATA[
local Schoolyard = NPL.load("(gl)Mod/CodePku/cellar/GUI/Schoolyard/Schoolyard.lua");
local page = document:GetPageCtrl()

function ClosePage()
    if Schoolyard.main_ui then
        Schoolyard.main_ui:CloseWindow()
        Schoolyard.main_ui = nil
    end
end

-- 返回标签table
function GetTabs()
    return Schoolyard.tabs
end

-- 返回选中的标签
function GetTabsSelectIndex()
    return Schoolyard.tabs_select_index
end

-- 选择标签
function OnChoose(index)
    Schoolyard.tabs_select_index = index
    Page:Refresh(0)
end

]]>
</script>

<pe:container alignment="_lt" width="100%" height="100%">

<div style="width: 1920;height: 1080;background-color:#000000">
    <div height="100%" style="position: relative;top:0;left:0;bottom:0;width:230px;background-color:#94E3FE"></div>
    <input type="button" name="close" onclick="ClosePage" style="position:relative;float:left;width:208px;height:127px;background:url(codepku/image/textures/common_32bits.png#251 49 208 127);"/>
    <div style="position:relative;left:132px;top:0;width:441px;height:102px;background:url(codepku/image/textures/common_32bits.png#463 63 441 100);padding-top:4px;padding-left:80;font-family:PuHuiTi-Bold;font-size:70px;color:#d85d0b;">我的校园</div>
    <iframe name="money" src="Mod/CodePku/cellar/GUI/Money.html" style="position:absolute;top:0;"></iframe>


    <div style="position:relative;top:122;font-size:45px;font-weight:bold;font-family:Noto Sans S Chinese Regular;text-align:center;">
        <pe:repeat DataSource="<%=GetTabs()%>">
            <pe:repeatitem>
                <pe:if condition='<%=GetTabsSelectIndex() == Eval("index") %>'>
                    <input type="button" name='<%= Eval("index")%>' value='<%=Eval("title")%>' style='width:261px;height:94px;margin-left:27px;padding-bottom:20px;background:url(codepku/image/textures/common_32bits.png#1648 196 261 96);' onclick="OnChoose"/>
                </pe:if>
                <pe:if condition='<%=GetTabsSelectIndex() ~= Eval("index") %>'>
                    <input type="button" name='<%= Eval("index")%>' value='<%=Eval("title")%>' style='width:244px;height:94px;background:url(codepku/image/textures/common_32bits.png#1294 66  134 94: 36 30 30 32);' onclick="OnChoose"/>
                </pe:if>
            </pe:repeatitem>
        </pe:repeat>
    </div>

    <!-- 首页 -->
    <pe:if condition='<%= GetTabsSelectIndex() == 1 %>'>
        <iframe name="SchoolyardMainFrame" src="Mod/CodePku/cellar/GUI/Schoolyard/SchoolyardMainFrame.html" style="position: relative;left:300px;top: 110;"></iframe>
    </pe:if>

    <!-- 成员 -->
    <pe:if condition='<%= GetTabsSelectIndex() == 2 %>'>
        <iframe name="SchoolyardMainFrame" src="Mod/CodePku/cellar/GUI/Schoolyard/SchoolyardMembersFrame.html" style="position: relative;left:300px;top: 110;"></iframe>
    </pe:if>

    <!-- 动态 -->
    <pe:if condition='<%= GetTabsSelectIndex() == 3 %>'>
        <iframe name="SchoolyardMainFrame" src="Mod/CodePku/cellar/GUI/Schoolyard/SchoolyardTrendsFrame.html" style="position: relative;left:300px;top: 110;"></iframe>
    </pe:if>

</div>

</pe:container>

</pe:mcml>
</body>
</html>
 