<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="EscFramePage.lua"><![CDATA[

GameLogic = commonlib.gettable("MyCompany.Aries.Game.GameLogic")
local UserConsole = NPL.load('(gl)Mod/CodePku/cellar/UserConsole/Main.lua');
local AccountSettingPage = NPL.load("(gl)Mod/CodePku/cellar/Areas/AccountSettingPage.lua");
NPL.load("(gl)Mod/CodePku/cellar/GUI/Home/HomeManage.lua")
local HomeManage = commonlib.gettable("Mod.CodePku.Common.HomeManage")
local CodePkuEscFramePage = NPL.load("(gl)Mod/CodePku/cellar/Areas/EscFramePage.lua")
NPL.load("(gl)Mod/CodePku/cellar/Areas/ChooseOperationMode.lua")
local ChooseOperationMode = commonlib.gettable("Mod.CodePku.cellar.Areas.ChooseOperationMode")

function ClosePage()
    if CodePkuEscFramePage.window then
        CodePkuEscFramePage.window:CloseWindow()
        CodePkuEscFramePage.window = nil
    else
        Page:CloseWindow()
    end
end

-- tpye  1 通用；2 ESC专用
function GetIcons(type, index)
    return CodePkuEscFramePage:GetIcon(type, index)
end

-- 返回大厅
function OnLeave()
    -- GameLogic.RunCommand("/menu file.exit");
    if (System.Codepku and System.Codepku.Coursewares) or HomeManage:IsMyHome() then
        if (System.Codepku and System.Codepku.Coursewares and System.Codepku.Coursewares.category == 3) then
            ClosePage();
        else
            UserConsole:CourseEntry();
        end
    end
end

-- 系统设置
function OnSettings()
    GameLogic.RunCommand("/menu file.settings");
end

-- 账号设置
function OnAccountSetting()
    AccountSettingPage:ShowPage(true);
end

-- 退出游戏
function OnLogout()
    --[[弹出切换账号二次确认弹窗
    local AdaptWindow = commonlib.gettable("Mod.CodePku.GUI.Window.AdaptWindow")
    local params = {
        url="Mod/CodePku/cellar/Areas/UserExitPopup.html",
        alignment="_lt", left = 0, top = 0, width = 1920 , height = 1080, zorder = 1001,
    };
    AdaptWindow:QuickWindow(params)
    --]]

    -- 退出游戏弹窗，等底层功能实现再使用
    local ExitPage = NPL.load("(gl)Mod/CodePku/cellar/Areas/ExitPage.lua");
    ExitPage:ShowPage();
end

-- 切换操作方式
function OnChangeMethod()
    ChooseOperationMode:ShowPage()
end

function OnClickButton(name,mcmlNode)
    ClosePage();
    if(name=="systemSetting") then
        OnSettings();
    elseif(name=="accountSetting") then
        OnAccountSetting();
    elseif(name=="exitWorld") then
        OnLeave();
    elseif(name=="logout") then
        OnLogout()
    elseif(name=="changeMethod") then
        OnChangeMethod()
    end
end

]]></script>

<pe:container alignment="_lt" width="1920" height="1080" style="">
<!-- 背景 -->
<div style="<%=format('position: relative; left: 520; top: 180; width: 936;height: 721;background:url(%s);', GetIcons(2, 'esc_frame_bot_floor.png'))%>">
    <!-- title -->
    <div style="position: relative;left: 362;top: 14;font-family: zkklt;font-size: 48;color: #9e6c5e;">系统设置</div>
    <!-- 功能区域 -->
    <pe:if condition='<%= System.os.IsMobilePlatform() %>'>
        <div onclick="OnClickButton" name="changeMethod" style="<%=format('position: relative; left: 261; top: 142; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">切换操作方式</div>
        <div onclick="OnClickButton" name="systemSetting" style="<%=format('position: relative; left: 261; top: 252; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">系统设定</div>
        <div onclick="OnClickButton" name="accountSetting" style="<%=format('position: relative; left: 261; top: 363; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">账号设置</div>
        <div onclick="OnClickButton" name="exitWorld" style="<%=format('position: relative; left: 261; top: 484; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">返回大厅</div>
        <div onclick="OnClickButton" name="logout" style="<%=format('position: relative; left: 261; top: 595; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">退出《玩学世界》</div>
    </pe:if>
    <pe:if condition='<%= not System.os.IsMobilePlatform() %>'>
        <div onclick="OnClickButton" name="systemSetting" style="<%=format('position: relative; left: 261; top: 192; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">系统设定</div>
        <div onclick="OnClickButton" name="accountSetting" style="<%=format('position: relative; left: 261; top: 303; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">账号设置</div>
        <div onclick="OnClickButton" name="exitWorld" style="<%=format('position: relative; left: 261; top: 414; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">返回大厅</div>
        <div onclick="OnClickButton" name="logout" style="<%=format('position: relative; left: 261; top: 525; width: 408;height: 85;font-size:36;line-height:85;font-family:zkklt;color:#803011;text-align:center;background:url(%s);', GetIcons(2, 'esc_frame_btn_408_85.png'))%>">退出《玩学世界》</div>
    </pe:if>
</div>
<!-- 关闭 -->
<div onclick="ClosePage" style="<%=format('position: relative; left: 1331; top: 156; width: 77;height: 123;background:url(%s);', GetIcons(1, 'comm_btn_close.png'))%>"></div>


<!-- 功能区域后期优化可以参考下面的代码使用repeat，暂时先写成固定的 -->
<!-- <div style="font-size:45px;font-weight:bold;font-family:Noto Sans S Chinese Regular;text-align:center;position:relative;">
    <pe:repeat DataSource="<%=GetTabButtons()%>">
        <pe:repeatitem>
            <pe:if condition='<%=GetTabDSIndex() == Eval("index") %>'>
                <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:261px;height:96px;margin-left:27px;padding-bottom:20px;background:url(codepku/image/textures/common_32bits.png#1648 196 261 96);' onclick="Choose" />
            </pe:if>
            <pe:if condition='<%=GetTabDSIndex() ~= Eval("index") %>'>
                <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:244px;height:94px;background:url(codepku/image/textures/common_32bits.png#1294 66  134 94: 36 30 30 32);' onclick="Choose" />
            </pe:if>
        </pe:repeatitem>
    </pe:repeat>
</div> -->


</pe:container>

</pe:mcml>
</body>
</html>

