<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>2020.05.27</title>
</head>
<body> 
<pe:mcml onloadscript="script/apps/Aries/app_main.lua" callbackfunction="MyCompany.Aries.MSGProc">
<script type="text/npl" refresh="false" src="PropsInfo.lua"><![CDATA[

    local UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");
    local PropsInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/Props/PropsInfo.lua");


    local mytable = PropsInfoPage.props

    local open_flag = 0

    local more_flag = 0
    local more_name = L'更多'

    function get_open_flag()
        return open_flag
    end

    function get_num()
        return mytable.prop_num
    end

    function get_name()
        return mytable.prop_name
    end

    function get_rest_time()
        return mytable.rest_time or L'永久'
    end

    function get_tool_type()
        return string.format('%s%s', mytable.category_name or "", mytable.se_category_name or "")
    end

    function get_scene()
        return mytable.scene_name
    end

    function get_describe()
        return mytable.prop_desc
    end

    function ClosePage()
        Page:CloseWindow()
    end

    function OnClose()
        UserInfoPage.ifItemList = true
        UserInfoPage.BackpackPage:Refresh(0)
        ClosePage()
    end

    function show_more()
        if(more_flag == 1)then
            more_flag = 0
            more_name = L'更多'
        else
            more_flag = 1
            more_name = L'收起'
        end        
        Page:Refresh(0)
    end

    function get_more_name()
        return more_name
    end

    function get_more_flag()
        return more_flag
    end

    function get_img()
        return mytable.prop_icon_url or ''
    end

    function Undefinde()
        GameLogic.RunCommand("/tip -duration 1500 开发中敬请期待")
    end

    function OnClickCompound()
        if mytable.can_compose == 1 then
            Undefinde()
        else
            GameLogic.RunCommand("/tip -duration 1500 此道具无法合成")
        end
    end

    function OnClickAbandon()
        if mytable.can_drop == 1 then
            Undefinde()
        else
            GameLogic.RunCommand("/tip -duration 1500 此道具无法丢弃")
        end
    end

    function OnClickSell()
        Undefinde()
    end

    function OnClickUse()
        if mytable.can_use == 1 then
            OnClose()
            PropsInfoPage:UseProp(1, {UserInfoPage.mainPage})
        else
            GameLogic.RunCommand("/tip -duration 1500 此道具无法使用")
        end
    end


    
]]></script>

<style type="text/mcss"></style>
<pe:container style="width: 1920; height: 1080;">
    <div style="position:absolute;width: 777;height: 806;left:1021;top:155;font-family: Noto Sans S Chinese Regular;font-weight:bold;color: #FFFFFF; background:url(codepku/image/textures/background/detail.png); ">

        <div style="position:absolute; float: left;left: 695; top: 8;width:64;height: 74;background:url(codepku/image/textures/common_32bits.png#110 73 68 78);" onclick="OnClose"></div>

        <div style="<%=format('position:absolute;float: left;width: 210; height: 211; left: 37; top: 111;background:url(%s);', get_img())%>">
            <!-- <div style="width: 100%; height: 40; left: 180; top: 250; padding-top: 3;line-height: 30;font-size: 28;text-align: center;background:url(codepku/image/textures/tool_ui/num_board.png);"><%=get_num()%></div> -->
        </div>

        <div style="position:absolute;float: left;width: 481; height: 227; left: 263; top: 106; ">
            <div style="position:absolute;float: left;width: 481; height: 86;  left: 0; top: 0; line-height: 80;font-size: 36;padding-left: 30; line-height: 86 ;background:url(codepku/image/textures/profile_32bits.png#899 1672 481 86);"><span style="margin-left: 10;"><%=get_name()%></span></div>

            <div style="position:absolute;float: left;width: 481; height: 138; left: 0; top: 89;font-size: 24;  float: left;background:url(codepku/image/textures/profile_32bits.png#1397 1672 481 138)">
                <div style="margin-top: 16; margin-left: 34;">
                    <span>剩余时间：</span> <span><%=get_rest_time()%></span>
                </div>
                <div style="margin-top: 10; margin-left: 34;">
                    <span>道具类型：</span> <span><%=get_tool_type()%></span>
                </div>
                <div style="margin-top: 10; margin-left: 34;">
                    <span>适用场景：</span> <span><%=get_scene()%></span>
                </div>
            </div>
        </div>

        <div style="position: absolute;float: left;width: 717; height: 330; top: 336;left: 28; font-size: 26; background:url(codepku/image/textures/tool_ui/bottom_box.png)">
            <div style="margin-top: 20; margin-left: 20;"><%=get_describe()%></div>
        </div>
        

        <div style="position: absolute;float: left;height: 320; top: 451; left: 91; font-size: 36; line-height: 80;text-align: center;">
            <pe:if condition="<%= get_more_flag() == 0 %>">
                <div style="width: 240; height: 80;float: left;top: 240; line-height: 90; color: #B35D0A; background:url(codepku/image/textures/common_32bits.png#1503 741 84 84:12 12 12 12)" onclick="show_more"><%= get_more_name() %></div>
                <div style="width: 29; height: 16;float: left;margin-top: 247;margin-left: -133; background:url(codepku/image/textures/userinfo/backpack.png#886 84 29 16)"></div>
            </pe:if>
            <pe:if condition="<%= get_more_flag() == 1 %>">
                <div style="width: 240; height: 80;float: left;top: 240; line-height: 90; color: #B35D0A; background:url(codepku/image/textures/common_32bits.png#1503 741 84 84:12 12 12 12)" onclick="show_more"><%= get_more_name() %></div>
                <div style="width: 28; height: 16;float: left;margin-top: 247;margin-left: -133;transform: rotate(180deg); transform-origin: 14 8; background:url(codepku/image/textures/userinfo/backpack.png#886 84 29 16)"></div>
                <div style="position: absolute;float: left; left: 0;width: 240; height: 240;">
                    <div style="position: absolute;float: left;top: 0; width: 240; height: 80; background:url(codepku/image/textures/common_32bits.png#1799 740 84 84:12 12 12 12)" onclick="OnClickCompound">合成</div>
                    <div style="position: absolute;float: left;top: 80; width: 240; height: 80;  background:url(codepku/image/textures/common_32bits.png#1898 740 84 84:12 12 12 12)" onclick="OnClickSell">出售</div>
                    <div style="position: absolute;float: left;top: 160;  width: 240; height: 80; background:url(codepku/image/textures/common_32bits.png#1306 741 84 84:12 12 12 12)" onclick="OnClickAbandon">丢弃</div>
                </div>
            </pe:if>
        </div>

        <div style="position: absolute;float: left;width: 240; height: 80;left: 446; top: 691;color: #0E5516;font-size: 36;text-align: center;line-height: 80; background:url(codepku/image/textures/common_32bits.png#1405 741 84 84:12 12 12 12)" onclick="OnClickUse">使用</div>
</div>
</pe:container>
</pe:mcml>
</body>
</html>