<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="EditName.lua"><![CDATA[

local Researchers = NPL.load("(gl)Mod/CodePku/cellar/GUI/Researchers/Researchers.lua");
local EditNamePage = NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditName.lua")

local escFrameImageData = NPL.load("(gl)Mod/CodePku/cellar/imageLuaTable/escFrameImageData.lua")
local common1ImageData = NPL.load("(gl)Mod/CodePku/cellar/imageLuaTable/common1ImageData.lua")

esc_frame_bot_floor = escFrameImageData:GetIconUrl("esc_frame_bot_floor.png")
esc_frame_thumbtac = escFrameImageData:GetIconUrl("esc_frame_thumbtac.png")
esc_frame_btn_408_85 = escFrameImageData:GetIconUrl("esc_frame_btn_408_85.png")
esc_frame_btn_408_85n = escFrameImageData:GetIconUrl("esc_frame_btn_408_85n.png")
esc_frame_r = escFrameImageData:GetIconUrl("esc_frame_r.png")
comm_btn_close = common1ImageData:GetIconUrl("comm_btn_close.png")
esc_frame__btn_green03 = common1ImageData:GetIconUrl("common_btn_green01.png")
esc_frame__btn_red03 = common1ImageData:GetIconUrl("common_btn_red01.png")

local page = document:GetPageCtrl()


contents1 = "联系老师可以获得一对一直播教学"
contents2 = "微信：codepku01"


-- 要关闭两个window，所以用特殊的方法
function OnClose()
    Researchers:CloseOperationActivityLivePage()
end

-- 获取图片,tpye  1 通用；2 ESC专用
function GetIcons(type, index)
    return EditNamePage:GetIconPath(type, index)
end

function ClickCancel()
    OnClose()
end

function OnSubmit()
    -- 进入世界
    local setted_id = page:GetValue("live_id")
    if commonlib.utf8.len(setted_id) < 1 then
        GameLogic.AddBBS("CodeGlobals", L"请输入ID", 3000, "#FF0000");
        return
    end
    NPL.load("(gl)Mod/CodePku/cellar/Common/CommonFunc/CommonFunc.lua")
    local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")
    CommonFunc.ConnectLivingWorld(setted_id)
    -- local command = "/connectCodePku -no=1 -isSyncBlock -isSyncCmd -host=106.53.147.185 -port=9901 52010 " .. tostring(setted_id)
    -- GameLogic.AddBBS("CodeGlobals", setted_id, 3000, "#FF0000");
    -- GameLogic.RunCommand(command);
    OnClose()
end

]]>   

</script>
<pe:container alignment="_lt" width="936" height="751" style="">

<!-- 背景 -->
<div style="position: relative;width: 936;height: 751;">
    <div style="<%=format('position: relative;width: 936;height: 721;background:url(%s);', esc_frame_bot_floor)%>">
        <!-- title -->
        <div style="position: relative;left: 0;top: 0;width: 936;height:80 ;text-align:center; line-height:80 ; font-family: zkklt;font-size: 48;color: #9e6c5e;">请输入房间ID</div>
    
        <!-- 修改昵称区域 -->
        <div style="<%=format('position: relative;left: 150;top: 200;width: 628;height: 109;font-family: zkklt;color: #4f402e;background:url(%s);', GetIcons(2, 'esc_frame_bot_428_109.png'))%>">
            <input type="text" MoveViewWhenAttachWithIME="true" value="" name="live_id" EmptyText='<%= L"ID" %>' style="position: relative;left: 48;top: 15; width: 540; height: 82; font-family: zkklt;font-size: 48;line-height: 82;color: #4f402e;background: #000000;"/>
        </div>
        <div style="position: relative;position: relative;left: 150;top: 380;width: 628;height: 80;line-height:80 ; font-family: Noto Sans S Chinese Regular;font-size: 36;color: #804636;"><%= contents1 %></div>
        <div style="position: relative;position: relative;left: 150;top: 440;width: 628;height: 80;line-height:80 ; font-family: Noto Sans S Chinese Regular;font-size: 36;color: #804636;"><%= contents2 %></div>

    </div>


    <div onclick="ClickCancel" style="<%=format('position: relative; left: 820; top: -20; width: 77;height: 123;background:url(%s);', comm_btn_close)%>"></div>

    <div onclick="OnSubmit" style="<%=format('position: relative; left: 550; top: 580; width: 238;height: 81;text-align:center; line-height:81 ; font-family: zkklt;font-size: 48;color: #ffffff;background:url(%s);', esc_frame__btn_green03)%>">确定</div>
    <div onclick="ClickCancel" style="<%=format('position: relative; left: 150; top: 580; width: 238;height: 81;text-align:center; line-height:81 ; font-family: zkklt;font-size: 48;color: #ffffff;background:url(%s);', esc_frame__btn_red03)%>">取消</div>
</div>


</pe:container>

</pe:mcml>
</body>
</html>
 