<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="UserInfo.lua"><![CDATA[
UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");

NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditName.lua");
local EditNamePage = commonlib.gettable("Mod.CodePku.EditNamePage")
local SubjectPage = commonlib.gettable("Mod.CodePku.SubjectPage")

local page = document:GetPageCtrl()

CommonPng = "codepku/image/textures/common_32bits.png";
ProfilePng = "codepku/image/textures/profile_32bits.png";

xueshidian = 0
fensi = 0
dianzan = 0

function ClosePage()
    Page:CloseWindow()
end

function ShowEditName()
    EditNamePage:ShowPage();
end

-- 切换账号
function SwitchAccount()
    -- 弹出二次确认弹窗
    local AdaptWindow = commonlib.gettable("Mod.CodePku.GUI.Window.AdaptWindow")
    local params = {
        url="Mod/CodePku/cellar/Areas/UserExitPopup.html",
        alignment="_lt", left = 0, top = 0, width = 1920 , height = 1080, zorder = 1001,
    };
    AdaptWindow:QuickWindow(params)
end

-- 改名
function ShowEdit()
    -- 判断游客
    local isVisitor = commonlib.getfield("System.User.isVisitor")
    if (isVisitor) then
        -- 游客
        NPL.load("(gl)Mod/CodePku/cellar/GUI/AccountUp/AccountUpTips.lua")
        local AccountUpTips = commonlib.gettable("Mod.CodePku.AccountUpTips")
        AccountUpTips:ShowEditNameTips()
        return
    else
        -- 非游客
        local EditNamePage = NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditName.lua");
        EditNamePage:ShowPage();
        return
    end
end

-- tpye  1 通用；2 ESC专用
function GetIcons(type, index)
    return UserInfoPage:GetIcon(type, index)
end

]]>   
</script>
<style type="text/mcss"></style>

<pe:container alignment="_lt" width="1920" height="1080" style="background-color: #00000070;">
    <!-- 背景 -->
    <div style="<%=format('position: relative; left: 297; top: 73; width: 1316;height: 940;background:url(%s);', GetIcons(2, 'esc_frame_bot_ground.png'))%>"></div>
    <!-- 头像 -->
    <div style="<%=format('position: relative; left: 852; top: 214; width: 256;height: 256;background:url(%s);', GetIcons(2, 'esc_frame_bot_head.png'))%>">
        <div style="<%=format('position: relative; left: 8; top: 9; width: 238;height: 228;background:url(%s);', UserInfoPage.avatar or GetIcons(1, 'btn_head.png'))%>"></div>
    </div>
    <!-- 昵称 -->
    <div style="<%=format('position: relative; left: 767; top: 547; width: 406;height: 83;background:url(%s);', GetIcons(2, 'esc_frame_bot_406_83.png'))%>">
        <!-- 用户昵称区域 -->
        <div style="position:relative;left: 100;top:20;width: 270;height: 40;line-height:40;font-size: 36;font-family: zkklt;text-align: center;color: #803011;"><%= UserInfoPage.name %></div>
    </div>
    <div style="<%=format('position: relative; left: 735; top: 528; width: 118;height: 79;background:url(%s);font-size:36;font-family: zkklt;color: #803011;line-height:79;padding-left:12;', GetIcons(2, 'esc_frame_bot_tape.png'))%>">昵称</div>
    
    <!-- 修改昵称按钮 -->
    <div onclick="ShowEdit" style="<%=format('position: relative; left: 1184; top: 552; width: 55;height: 75;background:url(%s);', GetIcons(2, 'esc_frame_arrow_pen01.png'))%>"></div>

    <!-- 性别 -->
    <div style="<%=format('position: relative; left: 767; top: 711; width: 406;height: 83;background:url(%s);', GetIcons(2, 'esc_frame_bot_406_83.png'))%>">
        <!-- 用户性别区域 -->
        <div style="position:relative;left: 100;top:20;width: 270;height: 40;line-height:40;font-size: 36;font-family: zkklt;text-align: center;color: #ffffff;">
            <pe:if condition='<%= UserInfoPage.gender == 1 or UserInfoPage.gender == 0 %>'>男</pe:if>
            <pe:if condition='<%= UserInfoPage.gender == 2 %>'>女</pe:if>
        </div>
    </div>
    <div style="<%=format('position: relative; left: 735; top: 693; width: 118;height: 79;background:url(%s);font-size:36;font-family: zkklt;color: #803011;line-height:79;padding-left:12;', GetIcons(2, 'esc_frame_bot_tape.png'))%>">性别</div>
    
    <!-- 切换账号 -->
    <div onclick="SwitchAccount" style="<%=format('position: relative; left: 834; top: 889; width: 238;height: 81;background:url(%s);', GetIcons(1, 'common_btn_green01.png'))%>">
        <div style="<%=format('position: relative; left: 41; top: 19; width: 159;height: 32;background:url(%s);', GetIcons(2, 'esc_frame_btn_switch.png'))%>"></div>
    </div>

    <!-- 关闭 -->
    <div onclick="ClosePage" style="<%=format('position: relative; left: 1502; top: 57; width: 77;height: 123;background:url(%s);', GetIcons(1, 'comm_btn_close.png'))%>"></div>

</pe:container>




    
</pe:mcml>
</body>
</html>
 