<!-- "script/apps/Aries/Creator/Game/Areas/RankPage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="SignInPage.lua"><![CDATA[
    SignInPage = commonlib.gettable("Mod.CodePku.GUI.SignInPage")
    local MainUIButtons = NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/Main.lua");
    day = tonumber(SignInPage.day)
    function ClosePage()
        Page:CloseWindow()
    end 

    function ClickSignIn(name)
        local name = tonumber(name)
        local message = nil
        if name == day then
            message = SignInPage:SetSignin()
            SignInPage:GetSigninData(SignInPage.year.."-"..SignInPage.month)
            SignInPage:GetDayAward(SignInPage.year.."-"..SignInPage.month)
            SignInPage.supplement_card = SignInPage:GetSupplementCard()
            GameLogic.AddBBS(nil, message, 3000, "255 0 0", 21);
            echo(type(message))
            echo(message)
            echo(type(L"签到成功"))
            echo(message == L"签到成功")
            if message == L"签到成功" then
                RefreshMoney(SignInPage.signin_data[name].prop_id, SignInPage.signin_data[name].prop_num)
            end
        elseif name < day and SignInPage.signin_data[name].state == 0 then
            message = SignInPage:retroactive(SignInPage.year.."-"..SignInPage.month.."-"..tostring(name))
            SignInPage:GetSigninData(SignInPage.year.."-"..SignInPage.month)
            SignInPage:GetDayAward(SignInPage.year.."-"..SignInPage.month)
            SignInPage.supplement_card = SignInPage:GetSupplementCard()
            GameLogic.AddBBS(nil, message, 3000, "255 0 0", 21);
            if message == L"补签成功" then
                RefreshMoney(SignInPage.signin_data[name].prop_id, SignInPage.signin_data[name].prop_num)
            end
        end
        Page:Refresh(0)
    end

    function RefreshMoney(id, num)
        id = tonumber(id)
        num = tonumber(num)
        local info = Mod.CodePku.Store:Get('user/info')
        local wallets = info.user_wallets or {}
        if #wallets == 0 then
            table.insert(wallets,{currency_id = id, amount = num})
        else
            for _, v in ipairs(wallets) do
                if v.currency_id == 1 and id == 1 then
                    v.amount = v.amount + num
                elseif v.currency_id == 2 and id == 2 then
                    v.amount = v.amount + num
                end
            end
        end
        Mod.CodePku.Store:Set('user/info', info)
        if MainUIButtons.money_window ~= nil then
            MainUIButtons.money_window:CloseWindow()
            MainUIButtons.money_window = nil
        end
		MainUIButtons.show_money_ui()	
    end

    function GetAward()
        local message = SignInPage:SetAward()
        SignInPage:GetSigninData(SignInPage.year.."-"..SignInPage.month)
        SignInPage:GetDayAward(SignInPage.year.."-"..SignInPage.month)
        GameLogic.AddBBS(nil, message, 3000, "255 0 0", 21);
        if message == L"领取成功" then
            RefreshMoney(SignInPage.total_award[1].prop_id, SignInPage.total_award[1].prop_num)
        end
        Page:Refresh(0)
    end

    function ChangeDate()
        local year = Page('#year'):GetValue()
        local month = Page('#month'):GetValue()
        if year > os.date('%Y') then
            GameLogic.AddBBS(nil, L"年份超出当前限制", 3000, "255 0 0", 21);
        elseif year == os.date('%Y') and month > os.date('%m') then
            GameLogic.AddBBS(nil, L"月份超出当前限制", 3000, "255 0 0", 21);
        else
            SignInPage.year = year
            SignInPage.month = month
            SignInPage:GetSigninData(SignInPage.year.."-"..SignInPage.month)
            SignInPage:GetDayAward(SignInPage.year.."-"..SignInPage.month)
            SignInPage.supplement_card = SignInPage:GetSupplementCard()
            Page:Refresh(0)
        end
    end

]]>
</script>
<style type="text/mcss">
</style>
<pe:container alignment="_lt" width="1690" height="900" style="margin-left: 115; margin-top: 90; background: url(codepku/image/textures/signin/background.png)">
    <!--title-->
    <div style="position: relative; width: 410; height: 87; left: 640; background: url(codepku/image/textures/common_32bits.png#1277 377 410 87); text-align: center; line-height: 87; font-family: PuHuiTi-Bold; font-size:70px; color: #F46D3D;">每日签到</div>
    <pe:div style="position: relative; width: 49; height: 56; left: 1584; top: 15; background: url(codepku/image/textures/common_32bits.png#110 73 68 78);" onclick="ClosePage"></pe:div>
    
    <div style="position: relative; width: 1690; height: 186; top: 85; background: url(codepku/image/textures/signin/banner.png); font-size: 28; font-family: Noto Sans S Chinese Regular; ont-weight:bold;">
        <div style="position: relative; width: 240; height: 50; left: 27; top: 71; text-align: center; line-height: 50; color: #FFFFFF; background: url(codepku/image/textures/signin/signin_32bits.png#408 39 40 40:10 10 10 10);"><%="本月已签到"..SignInPage.signin_total_day.."天"%></div>
        <div style="position: relative; width: 240; height: 50; left: 27; top: 136; text-align: center; line-height: 50; color: #FFFFFF; background: url(codepku/image/textures/signin/signin_32bits.png#359 39 40 40:10 10 10 10);"><%="剩余补签次数"..SignInPage.supplement_card.."次"%></div>
        
        <!--for test-->
        <!-- <div style="position: relative; width: 500; height: 50; background-color: antiquewhite; left:650; top: 130; line-height: 50;">
            <div style="float: left;">年：</div>
            <input name="year" type="text" EmptyText='<%= L"例：2020" %>' style="width: 150; height: 50; float: left;" value="<%=SignInPage.year%>"/>
            <div style="float: left;">月：</div>
            <input name="month" type="text" EmptyText='<%= L"例：08" %>'  style="width: 150; height: 50; float: left;" value="<%=SignInPage.month%>"/>
            <div onclick="ChangeDate" style="width: 50; height: 50; float: left;background-color: #1d96a1; text-align: center;">go</div>
        </div> -->
        
        <div style="position: relative; width: 151; height: 160; left: 1513; top: 14; background: url(codepku/image/textures/signin/signin_32bits.png#185 19 151 160);">
            <div style="<%=format('position: relative; width: 60; height: 60; left: 40; top: 27; background: url(%s)', SignInPage.total_award[1].prop_icon_url)%>"></div>
                <div style="position: relative; width: 151; height: 25; top: 72; padding-right: 7; text-align: right; color: #FFFFFF; font-size: 32; font-family: Noto Sans S Chinese Regular;"><%='x'..SignInPage.total_award[1].prop_num%></div>
            <pe:if condition="<%=SignInPage.full_attendance == false%>">
                <div style="color: #686695; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#79 198 41 40:15 15 15 15); text-align: center; line-height:49;">领取</div>
            </pe:if>
            <pe:if condition="<%=SignInPage.full_attendance == true and SignInPage.gain_total_award == true%>">
                <div onclick="GetAward" style="color: #B35D0A; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#230 198 41 40:15 15 15 15); text-align: center; line-height:49;">领取</div>
            </pe:if>
            <pe:if condition="<%=SignInPage.full_attendance == true and SignInPage.gain_total_award == false%>">
                <div style="color: #FFFFFF; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#129 198 41 40:15 15 15 15); text-align: center; line-height:49;">已领取</div>
            </pe:if>
        </div>
    </div>
    <pe:repeat DataSource='<%=SignInPage.signin_data%>'>
        <pe:repeatitem>
            <div style="<%=format('position: relative; width: 151; height: 160; left: %d; top: %d; background: url(codepku/image/textures/signin/signin_32bits.png#185 19 151 160);', (Eval('index')-1)%10*166+24, math.floor((Eval('index')-1)/10)*187+319)%>">
                <div style="<%=format('position: relative; width: 60; height: 60; left: 40; top: 27; background: url(%s)', Eval('prop_icon_url'))%>"></div>
                <div style="position: relative; width: 151; height: 25; top: 72; padding-right: 7; text-align: right; color: #FFFFFF; font-size: 32; font-family: Noto Sans S Chinese Regular;"><%='x'..Eval('prop_num')%></div>
                <pe:if condition="<%= SignInPage.month == os.date('%m') and SignInPage.year == os.date('%Y') and day ~= Eval('date')%>">
                    <pe:if condition="<%= Eval('state') == 0 and Eval('date') &lt; day %>">
                        <div onclick="ClickSignIn" name="<%=Eval('date')%>" style="color: #238E2D; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#181 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align: center; line-height:49;">补签</div>
                    </pe:if>
                    <pe:if condition="<%= Eval('state') == 1%>">
                        <div style="color: #FFFFFF;position: relative; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#129 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align:center; line-height:49;"><%='第'..Eval('index')..'天'%></div>
                        <div style="position: relative; width: 143; height: 156; margin-left: 4; background: url(codepku/image/textures/signin/signin_32bits.png#30 198 41 40:10 10 10 10);"></div>
                        <div style="position: relative; width: 67; height: 57; left: 38; top: 50; background: url(codepku/image/textures/signin/signin_32bits.png#375 104 67 57);"></div>
                    </pe:if>
                    <pe:if condition="<%= Eval('state') == 0 and Eval('date') &gt; day%>">
                        <div style="color: #FFFFFF; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#129 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align:center; line-height:49;"><%='第'..Eval('index')..'天'%></div>
                    </pe:if>
                </pe:if>
                <pe:if condition="<%= day == Eval('date') and SignInPage.month == os.date('%m') and SignInPage.year == os.date('%Y')%>">
                    <pe:if condition="<%= Eval('state') == 0%>">
                        <div style="position: relative; width: 147; height: 160; left:2; background: url(codepku/image/textures/signin/signin_32bits.png#31 21 142 156);"></div>
                        <div onclick="ClickSignIn" name="<%=Eval('index')%>" style="color: #B35D0A; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#230 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align: center; line-height:49;">领取</div>
                    </pe:if>
                    <pe:if condition="<%= Eval('state') == 1%>">
                        <div style="color: #FFFFFF; position: relative; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#129 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align: center; line-height:49;"><%='第'..Eval('index')..'天'%></div>
                        <div style="position: relative; width: 143; height: 156; margin-left: 4; background: url(codepku/image/textures/signin/signin_32bits.png#30 198 41 40:10 10 10 10);"></div>
                        <div style="position: relative; width: 67; height: 57; left: 38; top: 50; background: url(codepku/image/textures/signin/signin_32bits.png#375 104 67 57);"></div>
                    </pe:if>
                </pe:if>
                <pe:if condition="<%= SignInPage.month ~= os.date('%m') or SignInPage.year ~= os.date('%Y')%>">
                    <pe:if condition="<%= Eval('state') == 0%>">
                        <div onclick="ClickSignIn" name="<%=Eval('date')%>" style="color: #238E2D; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#181 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align: center; line-height:49;">补签</div>
                    </pe:if>
                    <pe:if condition="<%= Eval('state') == 1%>">
                        <div style="color: #FFFFFF;position: relative; width:143; height:49; margin-left:4; margin-top:107; background: url(codepku/image/textures/signin/signin_32bits.png#129 198 41 40:15 15 15 15); font-family: Noto Sans S Chinese Regular; font-size:28px; text-align:center; line-height:49;"><%='第'..Eval('index')..'天'%></div>
                        <div style="position: relative; width: 143; height: 156; margin-left: 4; background: url(codepku/image/textures/signin/signin_32bits.png#30 198 41 40:10 10 10 10);"></div>
                        <div style="position: relative; width: 67; height: 57; left: 38; top: 50; background: url(codepku/image/textures/signin/signin_32bits.png#375 104 67 57);"></div>
                    </pe:if>
                </pe:if>
            </div>
        </pe:repeatitem>
    </pe:repeat >
</pe:container>
</pe:mcml>
</body>

</html>