<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="Schoolyard.lua"><![CDATA[
local Schoolyard = NPL.load("(gl)Mod/CodePku/cellar/GUI/Schoolyard/Schoolyard.lua");
local page = document:GetPageCtrl()

-- 页面内的变量，存放用户输入的搜索内容，关闭页面会清除
search_content = ""

function ClosePage()
    if Schoolyard.join_page then
        Schoolyard.join_page:CloseWindow()
        Schoolyard.join_page = nil
    end
    Schoolyard.search_result = nil
end

-- 搜索
function OnSearch()
    local search_name = page:GetValue("search_name")
    search_name = tostring(search_name)
    search_content = search_name
    GameLogic.AddBBS("CodeGlobals", search_name, 3000, "#FF0000");
    Schoolyard:GetSearchSchoolResult(page)
end

-- 选择省市区学校
function OnSelect(name)
    GameLogic.AddBBS("CodeGlobals", name, 3000, "#FF0000");
end

-- 搜索结果
function GetSearchResult()
    return Schoolyard.search_result
end

-- 选中学校
function OnChoose(name)
    GameLogic.AddBBS("CodeGlobals", tostring(name), 3000, "#FF0000");

end

]]>
</script>

<pe:container alignment="_lt" width="100%" height="100%">

<div style="position: relative;left: 500;top: 200;width: 1000;height: 700;background-color:#007e11">
    <div onclick="ClosePage" style="position: relative;left: 850;top: 20;width: 100;height: 100;background-color:#ff0000;font-family: zkklt;font-size: 36;color: #ffffff;">关闭</div>

    <!-- 搜索筛选 -->
    <div style="position: relative;left: 60;top: 60;width: 400;height: 150;background-color:#4200f8">
        <div style="position: relative;left: 20;top: 10;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;">搜索筛选</div>
        <input type="text" name="search_name" value="<%= search_content %>"  EmptyText='<%= L"请输入学校" %>' style="position: relative;left: 20;top: 80;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;" />
        <input type="button" onclick="OnSearch" value="<%= L'搜索' %>" style="position: relative;left: 300;top: 80;width: 60;height: 60;background-color:#000000;font-family: zkklt;font-size: 24;color: #ffffff;" />
    </div>

    <!-- 条件筛选 -->
    <div style="position: relative;left: 60;top: 250;width: 400;height: 400;background-color:#4200f8">
        <div onclick="OnSelect" name="province" style="position: relative;left: 20;top: 10;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;">省</div>
        <div onclick="OnSelect" name="city" style="position: relative;left: 20;top: 90;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;">市</div>
        <div onclick="OnSelect" name="area" style="position: relative;left: 20;top: 170;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;">区</div>
        <div onclick="OnSelect" name="school" style="position: relative;left: 20;top: 250;width: 260;height: 60;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;">学校</div>
    </div>

    <!-- 筛选结果 -->
    <div style="position: relative;left: 500;top: 130;width: 400;height: 520;background-color:#4200f8">
        <pe:treeview style="position: relative;left: 10;top: 100;height:400;width:380;background-color: #00ffea;" name='messages' DefaultNodeHeight = "80" ItemsPerLine="1" AllowPaging="false" RememberScrollPos="true" RememberLastPage="false" VerticalScrollBarStep="20">
            <pe:repeat DataSource="<%= GetSearchResult() %>">
                <pe:repeatitem>
                    <div onclick="OnChoose" name="<%= Eval('no') %>" style="width: 300;height: 40;top:5;left:5;margin-bottom: 5;background-color:#000000;font-family: zkklt;font-size: 36;color: #ffffff;"><%= Eval('name') %></div>
                </pe:repeatitem>
            </pe:repeat>
        </pe:treeview>
    </div>

</div>

</pe:container>

</pe:mcml>
</body>
</html>
 