<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="OtherUserInfo.lua"><![CDATA[
NPL.load("(gl)script/apps/Aries.Creator.Game.Desktop.OtherUserInfo.lua");
local CodeApi = commonlib.gettable("Mod.CodePkuCommon.Code.Blockly.CodeApi");
OtherUserInfoPage = commonlib.gettable("Mod.CodePku.OtherUserInfoPage")
local OtherUserInfo = commonlib.gettable("Mod.CodePku.OtherUserInfo")

xueshidian = 123456
fensi = 123456
dianzan = 123456
name = OtherUserInfo.name
gender = OtherUserInfo.gender
identity = 10

vip_id = 20
user_id = "玩学号：" .. OtherUserInfo.id
choose_index = 1
choose_index5 = 1
user_options_list ={}
user_options_list[1] = {{index =1,url ='shouye1'},
--{index =2,url ='chengjiu'},
--{index =3,url ='dongtai'}
}

OtherUserInfoPage.OnInit();
function ClosePage()
    Page:CloseWindow();
end

function Undefinde()
    GameLogic.RunCommand("/tip -duration 1500 开发中敬请期待")
end

function OnConfirm()
    GameLogic.RunCommand("/goto,home")
end

function OnLeave()
    Page:CloseWindow();
end

function OnClose()
    ClosePage()
end

function Choose(index)
    user_options = user_options_list[1]
    user_options[choose_index].url =string.sub(user_options[choose_index].url ,1,string.len(user_options[choose_index].url)-1)
    choose_index =index
    user_options[choose_index].url = user_options[choose_index].url..1
    Page:Refresh(0);
end


function OnClickButton(name,mcmlNode)
    ClosePage();
    if(name=="confirm") then
        OnConfirm();
    elseif(name=="cancel") then
        OnClose();
    end
end


]]>   
</script>
<style type="text/mcss">

</style>


<pe:container alignment="_lt" width="1920" height="1080">
    <div style="width:1920;height:1080;background:url(codepku/image/textures/userinfo/user_info_back.png);" >
        <div style="position:relative;width:75;height:75;margin-left:75;margin-top:0;"onclick="ClosePage"></div>
        <div style="position:relative;width:160;height:43;margin-left:960;margin-top:16;background:url(codepku/image/textures/userinfo/info_title/user_center.png);"onclick="ClosePage"></div>
        <div style = "position:relative;margin-top:100">
            <pe:repeat  DataSource="<%=user_options_list[1]%>">
                    <pe:repeatitem>
                        <div name='<%= Eval("index")%>' style='<%=format("width:275;height:97;text-align:center;margin-top:20;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/options/%s.png)",Eval("url"))%>' onclick="Choose"></div>
                    </pe:repeatitem>
            </pe:repeat>
        </div>
        <pe:if condition='<%=choose_index == 1%>'>
            
            <!-- 首页 -->
            <div style="position:relative;width:1447;height:137;margin-left:324;margin-top:140;background:url(codepku/image/textures/userinfo/user_name_info/name_info.png);">
                <div style='<%=format("position:relative;width:41;height:41;margin-left:500;margin-top:20;background:url(codepku/image/textures/userinfo/user_name_info/%s.png);",gender)%>'></div>
                <div style='<%=format("position:relative;width:41;height:41;margin-left:550;margin-top:20;background:url(codepku/image/textures/userinfo/user_name_info/%s.png);",identity)%>'></div>
                <div style="position:relative;width:41;height:41;margin-left:500;margin-top:60;background:url(codepku/image/textures/userinfo/user_name_info/fuzhi.png);"></div>
                <div style='<%=format("position:relative;width:41;height:41;margin-left:550;margin-top:60;background:url(codepku/image/textures/userinfo/user_name_info/%s.png);",vip_id)%>'></div>
                <div style="position:relative;width:210;text-align:left;margin-left:154;margin-top:25;font-size:25;base-font-size:25;"><%= name%></div>
                <div style="position:relative;width:300;text-align:left;margin-left:154;margin-top:75;font-size:25;base-font-size:25;"><%= user_id%></div>
                <div style="position:relative;width:76;height:61;margin-left:1115;margin-top:20;background:url(codepku/image/textures/userinfo/user_name_info/xueshi.png);"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1120;margin-top:75;font-size:18;base-font-size:18;"><%= xueshidian%></div>
                <div style="position:relative;width:61;height:61;margin-left:1233;margin-top:20;background:url(codepku/image/textures/userinfo/user_name_info/fensi.png);"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1233;margin-top:75;font-size:18;base-font-size:18;"><%= fensi%></div>
                <div style="position:relative;width:61;height:61;margin-left:1350;margin-top:20;background:url(codepku/image/textures/userinfo/user_name_info/dianzan.png);"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1350;margin-top:75;font-size:18;base-font-size:18;"><%= dianzan%></div>
            </div>
            <div style="position:relative;width:611;height:735;margin-top:300;margin-left:324;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/touxiangbeijing.png)">
                <div style="position:relative;width:611;height:735;text-align:center;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/wanjiatouxiang.png)"></div>
            </div>
            <div style="position:relative;width:739;height:734;margin-left:1030;margin-top:300;background:url(codepku/image/textures/userinfo/jiayuanbeijing.png);">
                <div style="position:relative;width:670;height:410;margin-left:36;margin-top:30;background:url(codepku/image/textures/userinfo/jiayuan.png);"></div>
                <div style="position:relative;width:380;text-align:left;margin-left:324;margin-top:450;font-size:30;base-font-size:30;"><%= '这是一个家园的名字'%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>  
            </div> 
        </pe:if>
    </div>
</pe:container>
<!-- </aries:window> -->
</pe:mcml>
</body>
</html>
 