<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="UserInfo.lua"><![CDATA[
NPL.load("(gl)script/apps/Aries.Creator.Game.Desktop.Share.lua");
SharePage = commonlib.gettable("MyCompany.Aries.Creator.Game.Desktop.SharePage")


SharePage.OnInit();

function ClosePage()
    Page:CloseWindow();
end


function OnConfirm()
    GameLogic.RunCommand("/goto,home")
end

function OnLeave()
    Page:CloseWindow();
end

function OnClose()
    ClosePage()
end


]]>   
</script>

<!-- <aries:window
    mode="center"
    width="800"
    height="650"
    title='<%=L"首页"%>'
    title_height="60"
    onclose= "ClosePage"
    close_height="40"
    style="showline: false;"
> -->

<pe:container alignment="_lt" >
    <div style="width:1920;height:1080;background:url(codepku/image/textures/mainuibuttons/share/back.png);" >
        <!-- <div style="position:relative;width:160;height:43;margin-left:960;margin-top:16;background:url(codepku/image/textures/mainuibuttons/info_title/user_center.png);"onclick="ClosePage"></div>
        <div style="position:relative;width:45;height:50;margin-left:1815;margin-top:16;background:url(codepku/image/textures/mainuibuttons/info_title/cancel.png);"onclick="ClosePage"></div>
        <div style="position:relative;width:45;height:50;margin-left:86;margin-top:16;background:url(codepku/image/textures/mainuibuttons/info_title/help.png);"onclick="ClosePage"></div>
        <div style = "position:relative;margin-top:100">
            <pe:repeat  DataSource="<%=user_options%>">
                    <pe:repeatitem>
                        <div name='<%=Eval("index")%>' style='<%=format("width:275;height:97;text-align:center;margin-top:20;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/options/%s.png)",Eval("url"))%>' onclick="Choose"></div>
                    </pe:repeatitem>
            </pe:repeat>
        </div> -->
        <p style="position:relative;margin-top:180;margin-left:220;width:400;height:563;font-size:18;base-font-size:40;color: white;font-family:Microsoft Yahei;">心情寄语。。。。。。。。。。。。。。。</p>

        <div style="position:relative;margin-top:200;margin-left:700;width:611;height:735;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/wanjiatouxiang.png);"></div>
        
        <p style="position:relative;margin-top:863;margin-left:760;width:300;text-align:center;font-size:18;base-font-size:40;color: white;font-family:Microsoft Yahei;">名字最长七个字</p>
        <p style="position:relative;margin-top:800;margin-left:1390;width:400;height:563;font-size:18;base-font-size:40;color: white;font-family:Microsoft Yahei;">分享到</p>
        <div style="position:relative;margin-top:100;margin-left:1600;width:203;height:203;font-size:18;background:url(codepku/image/textures/mainuibuttons/share/qrcode.png);"></div>
        <div onclick="ClosePage" style="position:relative;margin-top:810;margin-left:1760;width:45;height:50;font-size:18;background:url(codepku/image/textures/mainuibuttons/share/exit.png);"></div>
        <div style="position:relative;margin-top:863;margin-left:1520;width:79;height:63;font-size:18;background:url(codepku/image/textures/mainuibuttons/share/wechat.png);"></div>
        <div style="position:relative;margin-top:863;margin-left:1620;width:65;height:68;font-size:18;background:url(codepku/image/textures/mainuibuttons/share/QQlogo.png);"></div>
        


        <!-- <pe:if condition='<%=choose_index == 1%>'>
            <div style="position:relative;width:1447;height:137;margin-left:324;margin-top:140;background:url(codepku/image/textures/mainuibuttons/user_name_info/name_info.png);">
                <div style="position:relative;width:210;text-align:left;margin-left:154;margin-top:25;font-size:25;base-font-size:25;"><%= name%></div>
                <div style="position:relative;width:300;text-align:left;margin-left:154;margin-top:75;font-size:25;base-font-size:25;"><%= user_id%></div>
                <div style="position:relative;width:61;height:61;margin-left:1115;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1115;margin-top:75;font-size:18;base-font-size:18;"><%= xueshidian%></div>
                <div style="position:relative;width:61;height:61;margin-left:1233;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1233;margin-top:75;font-size:18;base-font-size:18;"><%= gaunzhu%></div>
                <div style="position:relative;width:61;height:61;margin-left:1350;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1350;margin-top:75;font-size:18;base-font-size:18;"><%= dianzhan%></div>
            </div>
            <div style="position:relative;width:611;height:735;margin-top:300;margin-left:324;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/touxiangbeijing.png)">
                <div style="position:relative;width:611;height:735;text-align:center;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/wanjiatouxiang.png)"></div>
            </div>
            <div style="position:relative;width:739;height:734;margin-left:1030;margin-top:300;background:url(codepku/image/textures/mainuibuttons/jiayuanbeijing.png);">
                <div style="position:relative;width:670;height:410;margin-left:36;margin-top:30;background:url(codepku/image/textures/mainuibuttons/jiayuan.png);"></div>
                <div style="position:relative;width:380;text-align:left;margin-left:324;margin-top:450;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>  
            </div> 
        </pe:if>
        <pe:if condition='<%=choose_index == 3%>'>
            <div style="position:relative;width:1447;height:137;margin-left:324;margin-top:140;background:url(codepku/image/textures/mainuibuttons/user_name_info/name_info.png);">
                <div style="position:relative;width:210;text-align:left;margin-left:154;margin-top:25;font-size:25;base-font-size:25;"><%= name%></div>
                <div style="position:relative;width:300;text-align:left;margin-left:154;margin-top:75;font-size:25;base-font-size:25;"><%= user_id%></div>
                <div style="position:relative;width:61;height:61;margin-left:1115;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1115;margin-top:75;font-size:18;base-font-size:18;"><%= xueshidian%></div>
                <div style="position:relative;width:61;height:61;margin-left:1233;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1233;margin-top:75;font-size:18;base-font-size:18;"><%= gaunzhu%></div>
                <div style="position:relative;width:61;height:61;margin-left:1350;margin-top:20;background:url(codepku/image/textures/mainuibuttons/user_name_info/test1.png);"onclick="ClosePage"></div>
                <div style="position:relative;width:61;text-align:center;margin-left:1350;margin-top:75;font-size:18;base-font-size:18;"><%= dianzhan%></div>
            </div>
            <div style="position:relative;width:611;height:735;margin-top:300;margin-left:324;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/touxiangbeijing.png)">
                <div style="position:relative;width:611;height:735;text-align:center;font-size:18;base-font-size:40;background:url(codepku/image/textures/mainuibuttons/wanjiatouxiang.png)"></div>
            </div>
            <div style="position:relative;width:739;height:734;margin-left:1030;margin-top:300;background:url(codepku/image/textures/mainuibuttons/jiayuanbeijing.png);">
                <div style="position:relative;width:670;height:410;margin-left:36;margin-top:30;background:url(codepku/image/textures/mainuibuttons/jiayuan.png);"></div>
                <div style="position:relative;width:380;text-align:left;margin-left:324;margin-top:450;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:572;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:120;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>
                <div style="position:relative;width:380;text-align:left;margin-left:440;margin-top:630;font-size:30;base-font-size:30;"><%= name%></div>  
            </div> 
        </pe:if> -->
    </div>
</pe:container>
<!-- </aries:window> -->
</pe:mcml>
</body>
</html>
 