<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="Subject.lua"><![CDATA[
    NPL.load("(gl)script/apps/Aries.Creator.Game.Desktop.Subject.lua");
    SubjectPage = commonlib.gettable("Mod.CodePku.SubjectPage")
    
    SubjectPage.OnInit();
    
    function ClosePage()
        Page:CloseWindow();
    end
    
    
    function OnConfirm()
        GameLogic.RunCommand("/goto,home")
    end
    
    function OnLeave()
        Page:CloseWindow();
    end
    
    function OnClose()
        ClosePage()
    end

   
    -- subject_list = SubjectPage.subject_list

    function GetSubjectList()
        return SubjectPage.subject_list;
    end
]]>   
</script>
<style type="text/mcss">
</style>

<pe:container alignment="_fi" width="100%" height="100%" style="background-color: #00000045;">
    <!-- <pe:container alignment="_ct" width="1752" height="962"> -->
    <div align="center" style='<%=format("margin-top:64px;width:1752;height:962;background:url(codepku/image/textures/background/modal-large.png);")%>' >
        <div align="center" style="margin-top:45px;font-size:70px;font-family:PuHuiTi-Bold;color:#D85D0B;text-align:center;width:434px;height:115px;line-height:115px;background:url(codepku/image/textures/common_32bits.png#1265 363 434 115)">学科</div>
        <div align="right" style="position:absolute;top:60px;margin-right:62px;width:68px;height:78px;background:url(codepku/image/textures/common_32bits.png#110 73 68 78);" onclick="ClosePage()"></div>
        <div style = "position:relative;margin-top:107px;padding-left:4px;font-size:36px;color:#fffff;font-family:Noto Sans S Chinese Regular;font-weight:bold;">
            <pe:repeat DataSource="<%=GetSubjectList()%>" style="padding-left:38px;">
                <!-- <pe:repeatitem> -->
                    <div style="float:left;margin-left:14px;margin-bottom:23px;width:813px;height:178px;margin-left:14px;padding-top:36px;padding-right:46px;background:url(codepku/image/textures/profile_32bits.png#72 1669 813 178)">
                        <div style="float:left;margin-left:43px;width:104px;height:106px;background:url(codepku/image/textures/subjects/subjects.png#27 37 104 106)">
                            <div style='<%=format("float:left;margin-left:10px;margin-top:10px;width:84px;height:86px;background:url(%s)", Eval("icon"))%>'></div>
                        </div>
                        <div style="float:left;margin-left:14px;">
                            <div style="float:left;width:343px;height:61px;line-height:61px;padding-left:14px;background:url(codepku/image/textures/profile_32bits.png#1279 593 343 61)"><%=Eval("chname")%></div>
                            <div align="right" style="position:relative;margin-top:-49px;"><%=Eval("level")%></div>
                            <div style="margin-top:12px;width:608px;height:28px;background:url(codepku/image/textures/profile_32bits.png#1276 756 608 28);">
                                <div style='<%=string.format("width:%d;height:30px;background:url(codepku/image/textures/profile_32bits.png#1271 701 607 30);", (Eval("percent") or 0) * 608)%>'></div>
                                <div align="right" style="position:relative;margin-top:-32px;margin-right:18px;font-size:24px;color:#1369BE;"><%= Eval('current_exp') %> / <%=  Eval('next_exp') %></div>
                            </div>
                        </div>
                    </div>
            </pe:repeat>
        </div>
    </div>
<!-- </pe:container> -->
</pe:container>
</pe:mcml>
</body>
</html>
 