<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="UserInfo.lua"><![CDATA[
UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");

NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditShare.lua");
NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditName.lua");
SharePage = commonlib.gettable("Mod.CodePku.SharePage")
EditSharePage = commonlib.gettable("Mod.CodePku.EditSharePage")
EditNamePage = commonlib.gettable("Mod.CodePku.EditNamePage")
SubjectPage = commonlib.gettable("Mod.CodePku.SubjectPage")
PropsInfo = commonlib.gettable("Mod.CodePku.PropsInfo");

CommonPng = "codepku/image/textures/common_32bits.png";
ProfilePng = "codepku/image/textures/profile_32bits.png";

local HomeWorldId = 14293;


    -- =============================================================================== start 背包

    local nowPage = 1
    local maxPage = 1
    local pageSize = 1000

    -- 每个格子记录了该格子的序号和页号，以及该格子所要展示的信息
    function create_backpack_table()
        local items_table = UserInfoPage.GetItemInfo()
        local backpack_table = {}
        local now_Page = 1
        local i, j = 1, 1
        local length = #items_table
        local item = {}
        while(i <= length)do
            if(i > pageSize*now_Page)then
                now_Page = now_Page + 1
            end
            item = items_table[i]
            if choose_index5 == 1 or item.category_id == choose_index5 then
                backpack_table[j] = {pageNum = now_Page, grid_id = j, info = item}
                j = j + 1
            end
            i = i + 1
        end
        maxPage = now_Page
        return backpack_table
    end

    --获取指定页号的背包信息
    function get_now_backpack(needPage)
        local mytable = create_backpack_table()
        local now_backpack_table = {}
        local m, n = 1, 1
        local length = #mytable
        while (m <= length) do
            if(m > pageSize*(nowPage-1) and m <= pageSize*nowPage)then
                mytable[m].info.index = n
                table.insert(now_backpack_table, mytable[m].info)
                n = n + 1
            end
            m = m + 1
        end
        return now_backpack_table
    end

    --显示指定页号的背包信息
    function show_now_backpack()
        local_backpack = get_now_backpack(nowPage)
        return local_backpack
    end


    function prePage()
        if(nowPage > 1)then
            nowPage = nowPage -1;
            Page:Refresh(0.02)
        end
    end

    function nextPage()
        if(nowPage < maxPage)then
            nowPage = nowPage + 1;
            Page:Refresh(0.02)
        end
    end


    function getNowPage()
        return nowPage
    end

    function getMaxPage()
        return maxPage
    end

    function sort_backpack()
        params = '?sort=1'
        UserInfoPage.props = UserInfoPage.GetItemInfo(params)
        Page:Refresh(0)   
    end

-- ============================================================================ end 背包



xueshidian = 123456
fensi = 123456
dianzan = 123456
local name = UserInfoPage.name
sid = UserInfoPage.no or UserInfoPage.id
identity = 10
gender = UserInfoPage.gender
vip_id = 20
choose_index5 = 1 -- 道具类型id，1-全部 2-装扮 3-消耗品 4-建造道具 5-其他

user_options_list5 = {{index =1,url ='quanbu1'},{index =2,url ='dress'},{index =3,url ='build'},{index =4,url ='consumable'},{index =5,url ='other'}}


function ClosePage()
    Page:CloseWindow();
end


function OnConfirm()
    GameLogic.RunCommand("/goto,home")
end

function OnLeave()
    Page:CloseWindow();
end

function OnClose()
    ClosePage()
end

function Choose(index)
    UserInfoPage.tab_ds_index = tonumber(index);
    UserInfoPage.tab_ds_name = name;
    if (UserInfoPage.isSelf) then
        UserInfoPage.tab_ds_name = UserInfoPage.tab_ds_self[index].name;
    else
        UserInfoPage.tab_ds_name = UserInfoPage.tab_ds_other[index].name;
    end
    Page:Refresh(0.01);
end

function Choose5(index)
    local item_params = nil
    user_options = user_options_list5
    user_options[choose_index5].url =string.sub(user_options[choose_index5].url ,1,string.len(user_options[choose_index5].url)-1)
    choose_index5 =index
    user_options[choose_index5].url = user_options[choose_index5].url..1
    if choose_index5 == 1 then
        item_params = nil
    else
        item_params = '?category_name='..user_options[choose_index5].url
    end
    UserInfoPage.GetItemInfo(item_params)
    Page:Refresh(0);
end

function OnClickButton(name,mcmlNode)
    ClosePage();
    if(name=="confirm") then
        OnConfirm();
    elseif(name=="cancel") then
        echo('aaa')
        OnClose();
    end
end

function ShowEditShare()
    EditSharePage:ShowPage();
end

function ShowEditName()
    EditNamePage:ShowPage();
end

function OnClickItem(item)
    echo(string.format('item: %s, name:%s. category_id: %d', item, item.prop_name, item.prop_id))
    PropsInfo:ShowPage(item)
end

function ShowSharePage()
    SharePage:ShowPage();
end

function Undefinde()
    GameLogic.RunCommand("/tip -duration 1500 功能正在开发中")
end

function ShowSubjectPage()
    SubjectPage:ShowPage();
end

function GetTabButtons()
    if (UserInfoPage.isSelf) then
        return UserInfoPage.tab_ds_self;
    else
        return UserInfoPage.tab_ds_other;
    end
end

function GetTabDSIndex()
    local index = UserInfoPage.tab_ds_index;
    if (index) then
        return index;
    end
end

function GetTabDSName()
    local name = UserInfoPage.tab_ds_name;
    if (name) then
        return name;
    end
end

function GetName()
    local name = UserInfoPage.name;
    return name;
end

function GetIdentity()
    return UserInfoPage.isSelf;
end

function OnClickHome()
    if (System.Codepku and System.Codepku.Coursewares and System.Codepku.Coursewares.keepwork_project_id ~= HomeWorldId) then
        GameLogic.RunCommand(string.format('/loadworld %d', HomeWorldId));
    else
        GameLogic.RunCommand("/tip -duration 1500 您已位于家园")
    end
    ClosePage();
end

]]>   
</script>
<style type="text/mcss">
</style>
<pe:container alignment="_lt" width="1920" height="1080">
    <div style='<%=format("width:1920;height:1080;background:url(codepku/image/textures/background/main.png);font-family:Noto Sans S Chinese Regular;")%>' >
        <div height="100%" style="position:absolute;top:0;left:0;bottom:0;width:230px;background-color:#94E3FE"></div>
        <div style="text-align:center;">
            <input type="button" name="close" onclick="ClosePage" style="float:left;width:208px;height:127px;background:url(codepku/image/textures/common_32bits.png#251 49 208 127);"/>
            <div style="position:absolute;left:132px;top:0;width:441px;height:102px;background:url(codepku/image/textures/common_32bits.png#463 63 441 100);padding-top:4px;font-family:PuHuiTi-Bold;font-size:70px;color:#d85d0b;">个人中心</div>
            <pe:if condition="<%=GetIdentity()%>">
                <iframe name="money" src="Money.html" style="position:absolute;top:0;"></iframe>
            </pe:if>
        </div>
        <div style="font-size:45px;font-weight:bold;font-family:Noto Sans S Chinese Regular;text-align:center;position:relative;">
            <pe:repeat DataSource="<%=GetTabButtons()%>">
                <pe:repeatitem>
                    <pe:if condition='<%=GetTabDSIndex() == Eval("index") %>'>
                        <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:261px;height:96px;margin-left:27px;padding-bottom:20px;background:url(codepku/image/textures/common_32bits.png#1648 196 261 96);' onclick="Choose" />
                    </pe:if>
                    <pe:if condition='<%=GetTabDSIndex() ~= Eval("index") %>'>
                        <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:244px;height:94px;background:url(codepku/image/textures/common_32bits.png#1294 66  134 94: 36 30 30 32);' onclick="Choose" />
                    </pe:if>
                </pe:repeatitem>
            </pe:repeat>
        </div>
        <!-- 角色 -->
        <div style='<%=format("position:relative;margin-left:235px;margin-top:298px;width:727px;height:653px;background:url(%s #410 490 750 653);", Eval("ProfilePng")) %>'>
            <!-- 玩仔 -->
            <div style='<%=format("margin-left:230px;margin-top:-100px;width:345px;height:600px;background:url(%s #66 531 345 600);", Eval("ProfilePng")) %>'>
            </div>
            <!-- <pe:mc_player /> 暂不支持mcml2, 待paracraft老师开发后替换，先显示玩仔 -->
            <!-- <div style="width:100px;height:150px;" >
                <div style="position:relative;margin-left:-90px;margin-top:-115px;width:130px;height:120px;" >
                    <pe:mc_player name="MyPlayer" miniscenegraphname="AvatarMyselfTabCharacter" style="width:320px;height:320px;" IsInteractive="false" IsActiveRendering="true"/>
                </div>
            </div> -->
            <!-- hide for now -->
            <!-- <div style='<%=format("position:absolute;margin-left:48px;top:-148px;padding:18px;font-size:36px;color:#ffffff;width:490px;height:180px;background:url(%s #1275 451 219 125:204 24 13 68);", Eval("ProfilePng")) %>'>
                心情寄语
            </div> -->
        </div>
        <!-- <div style="position:relative;width:275;height:97;margin-top:960;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/options/shezhi.png)"onclick="Undefinde"></div> -->
        <!-- 首页 -->
        <pe:if condition='<%=GetTabDSName() == "Home"%>'>
            <!-- 昵称、ID、性别、点赞数 -->
            <div style='<%=format("margin-left:407px;width:1393px;height:100px;font-size:24px;background:url(%s #1823 1196 102 102:13 13 13 13);font-weight:bold;", Eval("ProfilePng")) %>'>
                <!-- <div style='<%=format("margin-left:407px;width:1393px;height:100px;font-size:24px;background:url(%s #1742 844 54 54:26 26 26 26);font-weight:bold;", Eval("ProfilePng")) %>'> -->
                <div style='<%=format("float:left;margin-left:-41px;margin-top:-27px;width:482px;height:156px;font-size:30px;color:#B35D0A;background:url(%s #1233 951 482 156);", Eval("ProfilePng")) %>'>
                    <div style='<%=format("position:relative;width:86px;height:87px;margin-top:35px;margin-left:60px;background:url(%s);", UserInfoPage.avatar or (Eval("ProfilePng").."#1794 560 86 87")) %>'></div>
                    <div style='<%=format("position:relative;width:93px;height:94px;margin-top:30px;margin-left:55px;background:url(%s #1677 556 93 94);", Eval("ProfilePng")) %>'></div>
                    <div style="position:relative;margin-top:40px;margin-left:162px;">
                        <%= UserInfoPage.name %>
                        <!-- 性别 -->
                        <pe:if condition='<%=gender == 1%>'>
                            <div name="gender" style='<%=format("float:left;width:25px;height:25px;margin-left:22px;margin-top:6px;background:url(%s #568 99 25 25);", Eval("ProfilePng")) %>'></div>
                        </pe:if>
                        <pe:if condition='<%=gender == 2%>'>
                            <div name="gender" style='<%=format("float:left;width:18px;height:30px;margin-left:22px;margin-top:2px;background:url(%s #523 94 18 30);", Eval("ProfilePng")) %>'></div>
                        </pe:if>
                    </div>
                    <div style="position:relative;margin-top:84px;margin-left:162px">ID: <%= sid %></div>
                </div>
                
                <!-- hide for now cert./vip-->
                <!-- <div style='<%=format("float:left;width:53px;height:54px;margin-top:23px;margin-left:23px;background:url(%s #448 82 53 54);", Eval("ProfilePng")) %>'></div>
                <div style='<%=format("float:left;width:54px;height:54px;margin-top:23px;margin-left:23px;background:url(%s #384 82 54 54);", Eval("ProfilePng")) %>'></div> -->
                <div align="right" style="position:relative;margin-top:-129px;margin-right:120px;color:#16439F;">
                    <div style="float:left;text-align:center;width:120px;" onclick="Undefinde">
                        <div align="center" style='<%=format("width:48px;height:35px;margin-top:17px;background:url(%s #247 88 54 41);", Eval("ProfilePng")) %>'></div>
                        <div style="position:relative;margin-top:-1px;"><%=xueshidian%></div>
                    </div>
                    <div style="float:left;width:3px;height:62px;background-color:#16439F;margin-top:16px;"></div>
                    <div style="float:left;text-align:center;width:120px;" onclick="Undefinde">
                        <div align="center" style='<%=format("width:37px;height:37px;margin-top:17px;background:url(%s #146 86 43 43);", Eval("ProfilePng")) %>'></div>
                        <div style="position:relative;margin-top:-1px;"><%=dianzan%></div>
                    </div>
                </div>
            </div>
            <!-- hide for now -->
            <!-- <div align="center" style="position:relative;margin-top:520px;margin-left:-90px;">
                <div name="edit" style='<%=format("margin-left:0;margin-top:0;width:99px;height:99px;background:url(%s #793 56 99 99);", Eval("ProfilePng")) %>' onclick="ShowEditShare"></div>
                <div name="share" style='<%=format("margin-left:0;margin-top:0;width:99px;height:99px;background:url(%s #900 55 99 99);", Eval("ProfilePng")) %>' onclick="ShowSharePage"></div>
            </div> -->
            <!-- 家园 -->
            <div align="right" style="margin-right:124px;margin-top:33px;font-family:Noto Sans S Chinese Regular;font-weight:bold;font-size:36px;">
                <div style="width:794px;height:479px;background:url(codepku/image/textures/profile/home_32bits.png#0 0 794 479);" onclick="OnClickHome()"></div>
                <!-- <div style='<%=format("width:794px;height:479px;background:url(%s #79 1169 794 479);", Eval("ProfilePng")) %>'></div> -->
                <div style='<%=format("margin-top:89px;margin-left:8px;width:778px;height:183px;background:url(%s #1675 846 50 50: 14 14 14 14);", Eval("ProfilePng"))%>'>
                    <div style='<%=format("margin-top:-83px;margin-left:-9px;color:#B35D0A;padding-left:44px;line-height:92px;width:381px;height:92px;background:url(%s #1264 824 381 92);", Eval("ProfilePng"))%>'>我的家园</div>
                    <div style="color:#2C618F;padding-left:103px;">
                        <div style="float:left;margin-top:25px;" width="50%"><div style="float:left;width:8px;height:33px;background-color:#2C618F;margin-right:9px;margin-top:2px;"></div>学校：暂无</div>
                        <div style="float:left;margin-top:25px;" width="50%"><div style="float:left;width:8px;height:33px;background-color:#2C618F;margin-right:9px;margin-top:2px;"></div>称号：暂无</div>
                        <br/>
                        <div style="float:left;margin-top:35px;" width="50%"><div style="float:left;width:8px;height:33px;background-color:#2C618F;margin-right:9px;margin-top:2px;"></div>荣耀：暂无</div>
                        <div style="float:left;margin-top:35px;" width="50%"><div style="float:left;width:8px;height:33px;background-color:#2C618F;margin-right:9px;margin-top:2px;"></div>生涯：<%=  UserInfoPage.day %>天</div>
                    </div>
                </div>
            </div>
        </pe:if>
        <pe:if condition='<%=GetTabDSName() == "Profile"%>'>
            <!-- 属性 -->
            <div align="right" style="position:relative;padding-left:48px;padding-top:44px;line-height:90px;color:#ffffff;font-size:30px;font-family:PuHuiTi-Bold;margin-top:42px;margin-right:114px;width:789px;height:818px;background:url(codepku/image/textures/background/detail.png)">
                <div style='<%=format("padding-left:40px;width:471px;height:102px;background:url(%s #911 1196 471 102);", Eval("ProfilePng")) %>'>
                <!-- <div style='<%=format("padding-left:40px;width:471px;height:102px;background:url(%s #911 1196 471 102);", Eval("ProfilePng")) %>' onclick="ShowEditName"> -->
                    <div style="float:left;margin-top:16px;">
                        <div style='<%=format("position:relative;width:66px;height:67px;background:url(%s #1788 560 86 87);", Eval("ProfilePng")) %>'></div>
                        <div style='<%=format("position:relative;width:66px;height:67px;background:url(%s #1677 556 94 94);", Eval("ProfilePng")) %>'></div>
                    </div>
                    <div style="float:left;margin-left:115px;line-height:132px;"><%= UserInfoPage.name %></div>
                </div>
                <div style='<%=format("padding-left:40px;width:694px;height:90px;background:url(%s #906 1532 694 90);", Eval("ProfilePng")) %>'>
                    <div align="left" style="float:left;">玩学号：</div>
                    <div align="right" style="float:right;margin-right:160px;"><%= sid %></div>
                </div>
                <div style='<%=format("padding-left:40px;padding-top:18px;line-height:48px;width:694px;height:129px;background:url(%s #902 1327 694 129);", Eval("ProfilePng")) %>' onclick="ShowSubjectPage">
                    <div>
                        <div style="float:left;">等级：<%= UserInfoPage.self_level.current_level %>级</div>
                        <div style='<%=format("float:left;margin-left:28px;width:49px;height:49px;background:url(%s #1048 152 50 50);", Eval("CommonPng")) %>'></div>
                        <div style='<%=format("float:right;margin-top:12px;width:615px;height:22px;background:url(%s #1276 756 608 28);", Eval("ProfilePng")) %>'>
                            <div style='<%=string.format("width:%d;height:22;background:url(codepku/image/textures/profile_32bits.png #1271 701 607 30);", 615*(UserInfoPage.self_level.current_exp/UserInfoPage.self_level.next_exp))%>'></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style='<%=format("float:left;padding-left:40px;width:348px;height:90px;background:url(%s #1415 1208 348 90);", Eval("ProfilePng")) %>'>
                        <div style="float:left;">魅力：</div>
                        <div style="float:right;"><%= 123 %></div>
                    </div>
                    <div style='<%=format("float:left;padding-left:40px;width:348px;height:90px;background:url(%s #1415 1208 348 90);", Eval("ProfilePng")) %>'>
                        <div style="float:left;">成就：</div>
                        <div style="float:right;"><%= 123 %></div>
                    </div>
                    <div style='<%=format("float:left;padding-left:40px;width:348px;height:90px;background:url(%s #1415 1208 348 90);", Eval("ProfilePng")) %>'>
                        <div style="float:left;">生涯：</div>
                        <div style="float:right;"><%=  UserInfoPage.day %>天</div>
                    </div>
                    <div style='<%=format("float:left;padding-left:40px;width:348px;height:90px;background:url(%s #1415 1208 348 90);", Eval("ProfilePng")) %>'>
                        <div style="float:left;">生日：</div>
                        <div style="float:right;"><%= UserInfoPage.birthday or UserInfoPage.created_at %></div>
                    </div>
                </div>
                <div style='<%=format("line-height:42px;padding-top:26px;width:694px;height:129px;background:url(%s #902 1327 694 129);", Eval("ProfilePng")) %>'>
                    <div style="float:left;text-align:center;" width="50%">
                        <div align="center" style='<%=format("width:54px;height:41px;background:url(%s #308 88 54 41);", Eval("ProfilePng")) %>'></div>
                        <div><%= xueshidian %></div>
                    </div>
                    <div style="float:left;text-align:center;" width="50%">
                        <div align="center" style='<%=format("width:43px;height:43px;background:url(%s #197 86 43 43);", Eval("ProfilePng")) %>'></div>
                        <div><%= dianzan %></div>
                    </div>
                    <div style="width:3px;height:62px;background-color:#ffffff;position:relative;margin-top:-78px;margin-left:347px;"></div>
                </div>
                <div style='<%=format("padding-left:40px;width:694px;height:90px;background:url(%s #906 1532 694 90);", Eval("ProfilePng")) %>'>
                    <div style="float:left;">家园分：</div>
                    <div align="right" style="float:right;margin-right:160px;"><%=  123456 %></div>
                </div>
            </div>
        </pe:if>
        <pe:if condition='<%=GetTabDSName() == "Backpack"%>'>
            <!-- 背包 -->
            <div style="position:relative;width:1377;height:911;margin-left:300;margin-top:120;background:url(codepku/image/textures/userinfo/beibaobeijing.png);">
                <div style="position:relative;margin-left:52;margin-top:40;width:611;height:735;text-align:center;font-size:40;base-font-size:40;background:url(codepku/image/textures/userinfo/wanjiatouxiang.png)"></div>
            </div>
            <div style = "position:relative;margin-top:100;margin-left:1700;">
                <pe:repeat  DataSource="<%=user_options_list5%>">
                    <pe:repeatitem>
                        <div name='<%=Eval("index")%>' style='<%=format("width:145;height:85;text-align:center;margin-top:20;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/options/%s.png)",Eval("url"))%>' onclick="Choose5"></div>
                    </pe:repeatitem>
                </pe:repeat>
            </div>
                <pe:gridview style="width: 780; height: 868; margin-top: 121; margin-left: 915; text-align: center; float: left;" name='backpack_items' DataSource="<%=UserInfoPage.props%>" DefaultNodeHeight = "200" ItemsPerLine="4" AllowPaging="false" RememberScrollPos="true" RememberLastPage="true">
                    <Columns>
                        <div style='width:150;height:150;background:url(codepku/image/textures/userinfo/item_board.png);float: left;margin-right: 40;'>
                            <div style="<%=string.format('width: 150; height: 150;  background:url(%s); ', Eval('prop_icon_url'))%>" name="<%=UserInfoPage.props[Eval('index')]%>" onclick="OnClickItem">
                                <div style='font-size: 30; margin-top: 100;padding-right: 20;color: #fdfdfd;text-align: right;font-weight: bold;'><%=prop_num%></div>
                            </div>
                        </div>
                    </Columns>
                </pe:gridview>
                <!-- <pe:repeat DataSource="<%= show_now_backpack() %>">
                    <div style="width: 150; height: 145; float: left; background:url(codepku/image/textures/tmp_icon.jpg); margin-left: 20px; margin-top: 32px;" name="<%=local_backpack[Eval('index')]%>" onclick="OnClickItem">
                        <div style='font-size: 20; margin: 120;'><%=num%></div>
                    </div>
                </pe:repeat> -->
            
            <div style="position:relative; margin-left:0; margin-top: 900px; width: 145px;  text-align: center; float: left;">
                <!-- <div style = "width:145;height:85; font-size: 40px; line-height: 85px; background-color: #7210ce;" onclick="prePage">上一页</div>
                <div style = "margin-top: 30; width:145;height:85; font-size: 40px; line-height: 85px; background-color: #7210ce;" onclick="nextPage">下一页</div>
                        <div style="width: 150px; height: 75px; font-size: 50px; line-height: 75px;"></div>  -->
                <div style = "width:145; height:85; font-size: 40px; line-height: 85px; background:url(codepku/image/textures/userinfo/options/zhengli.png);" onclick="sort_backpack"></div>
            </div> 
                   
            
        </pe:if>
    </div>
</pe:container>
<!-- <pe:container alignment="_ct" width="1158" height="588" style="position:absolute;margin-left:200px;margin-top:100px;background-color: #1a3a2e55;"> -->
 
<!-- </pe:container> -->
</pe:mcml>
</body>
</html>
 