<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
</head>
<body>
    <pe:mcml>
<script refresh="false" type="text/npl" src="UserInfo.lua"><![CDATA[
UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");

NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditShare.lua");
NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/EditName.lua");
SharePage = commonlib.gettable("Mod.CodePku.SharePage")
EditSharePage = commonlib.gettable("Mod.CodePku.EditSharePage")
EditNamePage = commonlib.gettable("Mod.CodePku.EditNamePage")
SubjectPage = commonlib.gettable("Mod.CodePku.SubjectPage")
PropsInfo = commonlib.gettable("Mod.CodePku.PropsInfo");

ProfilePng = "codepku/image/textures/profile_32bits.png";

local HomeWorldId = 14293;
local systemUserNo = System.User.info and (System.User.info.no or System.User.info.id);
local currentUserNo = UserInfoPage.no or UserInfoPage.id;
local isAuthUser = false;
if (systemUserNo == currentUserNo) then
    isAuthUser = true;
end

local mainasset = UserInfoPage.mainasset or nil;

function GetMainAsset()
    return mainasset;
end

function GetIsAuthUser()
    return isAuthUser;
end
-- 角色
local assets = {
    "character/CC/02human/paperman/boy01.x",
    "character/CC/02human/paperman/boy02.x",
    "character/CC/02human/paperman/boy03.x",
    "character/CC/02human/paperman/boy04.x",
    "character/CC/02human/paperman/boy05.x",
    "character/CC/02human/paperman/boy06.x",
    "character/CC/02human/paperman/boy07.x",
    "character/CC/02human/paperman/girl01.x",
    "character/CC/02human/paperman/girl02.x",
    "character/CC/02human/paperman/girl03.x",
    "character/CC/02human/paperman/girl04.x",
    "character/CC/02human/paperman/girl05.x",
};
local curAssetIndex = 1;

function ClickPrevAsset()
    if (curAssetIndex == 1) then
        curAssetIndex = #assets;
    else
        curAssetIndex = curAssetIndex - 1;
    end
    mainasset = assets[curAssetIndex];
    GameLogic.GetPlayerController():GetPlayer():SetMainAssetPath(mainasset);
    Page:Refresh(0.01);
end

function ClickNextAsset()
    if (curAssetIndex == #assets) then
        curAssetIndex = 1;
    else
        curAssetIndex = curAssetIndex + 1;
    end
    mainasset = assets[curAssetIndex];
    GameLogic.GetPlayerController():GetPlayer():SetMainAssetPath(mainasset);
    Page:Refresh(0.01)
end

function OpenSkinPage()
    NPL.load("(gl)Mod/CodePku/cellar/GUI/Profile/SkinPageV1.lua");
    local SkinPageV1 = commonlib.gettable("Mod.CodePku.GUI.Profile.SkinPage");
    local EntityManager = commonlib.gettable("MyCompany.Aries.Game.EntityManager");
    local lastFilename = EntityManager.GetPlayer():GetMainAssetPath(); --GameLogic.options:GetMainPlayerAssetName();

    -- refresh userinfo after role asset is changed
    SkinPageV1.ShowPage(function(filename)
        if (System.os.GetPlatform() == 'win32' and filename and lastFilename ~= filename) then
            Page:Refresh(0.01);
        end
    end);
end

    -- =============================================================================== start 背包

    local nowPage = 1
    local maxPage = 1
    local pageSize = 1000

    -- 每个格子记录了该格子的序号和页号，以及该格子所要展示的信息
    function create_backpack_table()
        local items_table = UserInfoPage.GetItemInfo()
        local backpack_table = {}
        local now_Page = 1
        local i, j = 1, 1
        local length = #items_table
        local item = {}
        while(i <= length)do
            if(i > pageSize*now_Page)then
                now_Page = now_Page + 1
            end
            item = items_table[i]
            if choose_index5 == 1 or item.category_id == choose_index5 then
                backpack_table[j] = {pageNum = now_Page, grid_id = j, info = item}
                j = j + 1
            end
            i = i + 1
        end
        maxPage = now_Page
        return backpack_table
    end

    --获取指定页号的背包信息
    function get_now_backpack(needPage)
        local mytable = create_backpack_table()
        local now_backpack_table = {}
        local m, n = 1, 1
        local length = #mytable
        while (m <= length) do
            if(m > pageSize*(nowPage-1) and m <= pageSize*nowPage)then
                mytable[m].info.index = n
                table.insert(now_backpack_table, mytable[m].info)
                n = n + 1
            end
            m = m + 1
        end
        return now_backpack_table
    end

    --显示指定页号的背包信息
    function show_now_backpack()
        local_backpack = get_now_backpack(nowPage)
        return local_backpack
    end


    function prePage()
        if(nowPage > 1)then
            nowPage = nowPage -1;
            Page:Refresh(0.02)
        end
    end

    function nextPage()
        if(nowPage < maxPage)then
            nowPage = nowPage + 1;
            Page:Refresh(0.02)
        end
    end


    function getNowPage()
        return nowPage
    end

    function getMaxPage()
        return maxPage
    end

    function sort_backpack()
        params = '?sort=1'
        UserInfoPage.props = UserInfoPage.GetItemInfo(params)
        Page:Refresh(0)   
    end

-- ============================================================================ end 背包



xueshidian = 0
fensi = 0
dianzan = 0
local name = UserInfoPage.name
sid = UserInfoPage.no or UserInfoPage.id
identity = 10
gender = UserInfoPage.gender
vip_id = 20
choose_index5 = 1 -- 道具类型id，1-全部 2-装扮 3-消耗品 4-建造道具 5-其他

user_options_list5 = {{index =1,url ='quanbu1'},{index =2,url ='dress'},{index =3,url ='build'},{index =4,url ='consumable'},{index =5,url ='other'}}

function ClosePage()
    Page:CloseWindow();
end

function OnConfirm()
    GameLogic.RunCommand("/goto,home")
end

function Choose(index)
    UserInfoPage.tab_ds_index = tonumber(index);
    UserInfoPage.tab_ds_name = name;
    if (UserInfoPage.isSelf) then
        UserInfoPage.tab_ds_name = UserInfoPage.tab_ds_self[index].name;
    else
        UserInfoPage.tab_ds_name = UserInfoPage.tab_ds_other[index].name;
    end
    Page:Refresh(0.01);
end

function Choose5(index)
    local item_params = nil
    user_options = user_options_list5
    user_options[choose_index5].url =string.sub(user_options[choose_index5].url ,1,string.len(user_options[choose_index5].url)-1)
    choose_index5 =index
    user_options[choose_index5].url = user_options[choose_index5].url..1
    if choose_index5 == 1 then
        item_params = nil
    else
        item_params = '?category_name='..user_options[choose_index5].url
    end
    UserInfoPage.GetItemInfo(item_params)
    Page:Refresh(0);
end

function OnClickButton(name,mcmlNode)
    ClosePage();
    if(name=="confirm") then
        OnConfirm();
    elseif(name=="cancel") then
        echo('aaa')
    end
end

function OnClickItem(item)
    echo(string.format('item: %s, name:%s. category_id: %d', item, item.prop_name, item.prop_id))
    PropsInfo:ShowPage(item)
end

function Undefinde()
    GameLogic.RunCommand("/tip -duration 1500 功能正在开发中")
end

function GetTabButtons()
    if (UserInfoPage.isSelf) then
        return UserInfoPage.tab_ds_self;
    else
        return UserInfoPage.tab_ds_other;
    end
end

function GetTabDSIndex()
    local index = UserInfoPage.tab_ds_index;
    if (index) then
        return index;
    end
end

function GetTabDSName()
    local name = UserInfoPage.tab_ds_name;
    if (name) then
        return name;
    end
end

function GetIdentity()
    return UserInfoPage.isSelf;
end

function isHuaweiApproval()
    local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")
    return CommonFunc.isHuaweiApproval()
end

-- 获取图标
function GetIcons(type, index)
    return UserInfoPage:GetIcon(type, index)
end

-- 展示设置弹窗
function SettingPopup()
    UserInfoPage:ShowSettingPopup()
end

]]>   
</script>
<style type="text/mcss">
</style>
<pe:container alignment="_lt" width="1920" height="1080">
    <div style='<%=format("width:1920;height:1080;background:url(codepku/image/textures/background/main.png);font-family:Noto Sans S Chinese Regular;")%>' >
        <div height="100%" style="position:absolute;top:0;left:0;bottom:0;width:230px;background-color:#94E3FE"></div>
        <div style="text-align:center;">
            <input type="button" name="close" onclick="ClosePage" style="float:left;width:208px;height:127px;background:url(codepku/image/textures/common_32bits.png#251 49 208 127);"/>
            <div style="position:absolute;left:132px;top:0;width:441px;height:102px;background:url(codepku/image/textures/common_32bits.png#463 63 441 100);padding-top:4px;font-family:PuHuiTi-Bold;font-size:70px;color:#d85d0b;">个人中心</div>
            <pe:if condition="<%= not isHuaweiApproval()%>">
                <pe:if condition="<%=GetIdentity()%>">
                    <iframe name="money" src="Money.html" style="position:absolute;top:0;left:1323;"></iframe>
                </pe:if>
            </pe:if>
           

        </div>
        <div style="font-size:45px;font-weight:bold;font-family:Noto Sans S Chinese Regular;text-align:center;position:relative;">
            <pe:repeat DataSource="<%=GetTabButtons()%>">
                <pe:repeatitem>
                    <pe:if condition='<%=GetTabDSIndex() == Eval("index") %>'>
                        <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:261px;height:96px;margin-left:27px;padding-bottom:20px;background:url(codepku/image/textures/common_32bits.png#1648 196 261 96);' onclick="Choose" />
                    </pe:if>
                    <pe:if condition='<%=GetTabDSIndex() ~= Eval("index") %>'>
                        <input type="button" name='<%= Eval("index")%>' value='<%=Eval("text")%>' style='width:244px;height:94px;background:url(codepku/image/textures/common_32bits.png#1294 66  134 94: 36 30 30 32);' onclick="Choose" />
                    </pe:if>
                </pe:repeatitem>
            </pe:repeat>
        </div>
        <!-- <div style="position:relative;width:275;height:97;margin-top:960;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/options/shezhi.png)"onclick="Undefinde"></div> -->
        <!-- 首页 -->
        <pe:if condition='<%=GetTabDSName() == "Home"%>'>
            <iframe name="HomeFrame" src="Mod/CodePku/cellar/GUI/Profile/HomeFrame.html" style="position:absolute;left:407px;"></iframe>
        </pe:if>
        <!-- 属性 -->
        <pe:if condition='<%=GetTabDSName() == "Profile"%>'>
            <iframe name="ProfileFrame" src="Mod/CodePku/cellar/GUI/Profile/ProfileFrame.html" style="position:absolute;left:1017px;"></iframe>
        </pe:if>
        <pe:if condition='<%=GetTabDSName() == "Backpack"%>'>
            <!-- 背包 -->
            <div style="position:relative;width:1377;height:911;margin-left:300;margin-top:120;background:url(codepku/image/textures/userinfo/beibaobeijing.png);">
                <div style="position:relative;margin-left:52;margin-top:40;width:611;height:735;text-align:center;font-size:40;base-font-size:40;background:url(codepku/image/textures/userinfo/wanjiatouxiang.png)"></div>
            </div>
            <div style = "position:relative;margin-top:100;margin-left:1700;">
                <pe:repeat  DataSource="<%=user_options_list5%>">
                    <pe:repeatitem>
                        <div name='<%=Eval("index")%>' style='<%=format("width:145;height:85;text-align:center;margin-top:20;font-size:18;base-font-size:40;background:url(codepku/image/textures/userinfo/options/%s.png)",Eval("url"))%>' onclick="Choose5"></div>
                    </pe:repeatitem>
                </pe:repeat>
            </div>
                <pe:gridview style="width: 780; height: 868; margin-top: 121; margin-left: 915; text-align: center; float: left;" name='backpack_items' DataSource="<%=UserInfoPage.props%>" DefaultNodeHeight = "200" ItemsPerLine="4" AllowPaging="false" RememberScrollPos="true" RememberLastPage="true">
                    <Columns>
                        <div style='width:150;height:150;background:url(codepku/image/textures/userinfo/item_board.png);float: left;margin-right: 40;'>
                            <div style="<%=string.format('width: 150; height: 150;  background:url(%s); ', Eval('prop_icon_url'))%>" name="<%=UserInfoPage.props[Eval('index')]%>" onclick="OnClickItem">
                                <div style='font-size: 30; margin-top: 100;padding-right: 20;color:#fdfdfd;text-align: right;font-weight: bold;'><%=prop_num%></div>
                            </div>
                        </div>
                    </Columns>
                </pe:gridview>
                <!-- <pe:repeat DataSource="<%= show_now_backpack() %>">
                    <div style="width: 150; height: 145; float: left; background:url(codepku/image/textures/tmp_icon.jpg); margin-left: 20px; margin-top: 32px;" name="<%=local_backpack[Eval('index')]%>" onclick="OnClickItem">
                        <div style='font-size: 20; margin: 120;'><%=num%></div>
                    </div>
                </pe:repeat> -->
            
            <div style="position:relative; margin-left:0; margin-top: 900px; width: 145px;  text-align: center; float: left;">
                <!-- <div style = "width:145;height:85; font-size: 40px; line-height: 85px; background-color: #7210ce;" onclick="prePage">上一页</div>
                <div style = "margin-top: 30; width:145;height:85; font-size: 40px; line-height: 85px; background-color: #7210ce;" onclick="nextPage">下一页</div>
                        <div style="width: 150px; height: 75px; font-size: 50px; line-height: 75px;"></div>  -->
                <div style = "width:145; height:85; font-size: 40px; line-height: 85px; background:url(codepku/image/textures/userinfo/options/zhengli.png);" onclick="sort_backpack"></div>
            </div>
        </pe:if>
        <!-- 设置 -->
        <pe:if condition='<%= UserInfoPage.isSelf %>'>
            <div onclick="SettingPopup" style="<%=format('position: relative; left: 40; top: 850; width: 146;height: 65;background:url(%s);', GetIcons(1, 'common_btn_yellow02.png'))%>">
                <div style="line-height: 65;color:#B35D0A;font-size:45px;font-weight:bold;font-family:Noto Sans S Chinese Regular;text-align:center;position:relative;">设置</div>
            </div> 
        </pe:if>
        

        <!-- 角色展示区 note: 放在其它tag后面 -->
        <div style='<%=format("position:absolute;margin-left:235px;margin-top:298px;width:727px;height:653px;background:url(%s#410 490 750 653);", Eval("ProfilePng")) %>'>
            <div style="margin-left:40px;margin-top:-138px;width:640px;height:640px;" >
                <!-- <pe:if condition="<%= System.os.GetPlatform() == 'win32' %>">
                    <pe:mc_player align="center" assetfile="<%= GetMainAsset() %>" miniscenegraphname="AvatarMyselfTabCharacter" LookAtHeight=1 CameraObjectDist=4 RenderTargetSize=640 style="width:640px;height:640px;"></pe:mc_player>
                </pe:if>
                <pe:if condition="<%= System.os.GetPlatform() ~= 'win32' %>">
                    <div style='<%=format("margin-left:178px;margin-top:35px;width:345px;height:600px;background:url(%s#66 531 345 600);", Eval("ProfilePng")) %>'></div>
                </pe:if> -->
                <pe:mc_player align="center" assetfile="<%= GetMainAsset() %>" miniscenegraphname="AvatarMyselfTabCharacter" LookAtHeight=1 CameraObjectDist=4 RenderTargetSize=640 style="width:640px;height:640px;"></pe:mc_player>
                
            </div>
            <!-- hide for now -->
            <!-- <div style='<%=format("position:absolute;margin-left:48px;top:-148px;padding:18px;font-size:36px;color:#ffffff;width:490px;height:180px;background:url(%s#1275 451 219 125:204 24 13 68);", Eval("ProfilePng")) %>'>
                心情寄语
            </div> -->
            <!-- <pe:if condition='<%= GetIsAuthUser() == true %>'>
                <div><%= isAuthUser %></div>
                <div onclick="ClickPrevAsset" style="position:relative;margin-left:28px;margin-top:-240px;transform:rotate(180deg);transform-origin:25 25;width:50px;height:50px;background:url(codepku/image/textures/common_32bits.png#1048 152 50 50);"></div>
                <div onclick="ClickNextAsset" style="position:relative;margin-left:640px;margin-top:-240px;width:50px;height:50px;background:url(codepku/image/textures/common_32bits.png#1048 152 50 50);"></div>    
            </pe:if> -->
            <pe:if condition='<%= UserInfoPage.isSelf %>'>
                <input align="center" type="button" onclick="OpenSkinPage" style="background:url(codepku/image/textures/common_32bits.png#1502 740 86 86:14 14 14 14);width:246px;height:86px;color:#B35D0A;font-size:36px;font-weight:bold;margin-top:16px;" value="更换角色"/>
            </pe:if>
        </div>
    </div>
</pe:container>
<!-- <pe:container alignment="_ct" width="1158" height="588" style="position:absolute;margin-left:200px;margin-top:100px;background-color: #1a3a2e55;"> -->
 
<!-- </pe:container> -->
</pe:mcml>
</body>
</html>
 