<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_function.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="MainSceneUIButtons.lua"><![CDATA[
local MainUIButtons = NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/Main.lua");
is_open = MainUIButtons.open_function

NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/TaskSystem/TaskSystem.lua")
TaskSystem = commonlib.gettable("Mod.CodePku.Common.TaskSystem")

NPL.load("(gl)Mod/CodePku/cellar/GUI/rank/RankPage.lua")
local UserInfoPage = NPL.load("(gl)Mod/CodePku/cellar/GUI/UserInfo.lua");
UserInfoPage.OnInit();

RankPage = commonlib.gettable("Mod.CodePku.RankPage");
FriendUI = NPL.load("(gl)Mod/CodePku/cellar/GUI/Friend/FriendUI.lua");

function ClickClose() 
    Page:CloseWindow()
    MainUIButtons.show_function_ui("close")
end

function ClickOpen() 
    if (is_open == true) then
        ClickRank()
        return
    end
    Page:CloseWindow()
    MainUIButtons.show_function_ui()
end

function ClickFunctionButton()
    GameLogic.AddBBS("CodeGlobals", L"功能开发中", 3000, "#ff0000");
end

function ClickUserInfo()
    UserInfoPage:ShowPage()
end

function ClickBag()
    UserInfoPage:ShowPage(5)
end


function ClickFriend()
    FriendUI:ShowPage(1)
end

function ClickRank()
    RankPage:ShowPage(1)
end

function ClickTask()
    TaskSystem:ShowPage(1,true)
end

local SignInPage = commonlib.gettable("Mod.CodePku.GUI.SignInPage")
function ClickSignin()
    SignInPage:ShowPage()
end

NPL.load("(gl)Mod/CodePku/cellar/Common/CommonFunc/CommonFunc.lua")
local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")
function isHuaweiApproval()
    return CommonFunc.isHuaweiApproval()
end
function isIOSPlatform()
    return CommonFunc.isIOSPlatform()
end

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_rb" width="100%" height="100%">
    <pe:if condition='<%= is_open %>'>
        <div style="position: relative; width: 82; height: 178; left: 2; background: url(codepku/image/textures/main_ui/main.png#915 14 82 178);" onclick="ClickClose"></div>
        <div style="position: relative; width: 736; height: 178; left: 82; background: url(codepku/image/textures/main_ui/main.png#46 495 200 54:20 20 20 20); " >
            <div style="position: relative; width: 103; height: 127; left: 45; top: 27; background: url(codepku/image/textures/main_ui/main.png#148 25 107 131);" onclick="ClickUserInfo"></div>
            <pe:if condition = "<%= not isIOSPlatform() %>" >
                <div style="position: relative; width: 93; height: 134; left: 197; top: 20; background: url(codepku/image/textures/main_ui/main.png#285 18 97 138);" onclick="ClickFriend"></div>
                <pe:if condition = "<%= not isHuaweiApproval()%>" >
                    <div style="position: relative; width: 80; height: 134; left: 335; top: 20; background: url(codepku/image/textures/main_ui/main.png#416 18 84 138);" onclick="ClickRank"></div>
                    <div style="position: relative; width: 97; height: 137; left: 466; top: 18; background: url(codepku/image/textures/main_ui/main.png#557 478 97 137);" onclick="ClickSignin"></div>
                    <div style="position: relative; width: 112; height: 133; left: 606; top: 24; background: url(codepku/image/textures/main_ui/main.png#34 645 112 133);" onclick="ClickTask"></div>
                </pe:if>
                <pe:if condition = "<%= isHuaweiApproval()%>" >
                    <div style="position: relative; width: 97; height: 137; left: 335; top: 18; background: url(codepku/image/textures/main_ui/main.png#557 478 97 137);" onclick="ClickSignin"></div>
                    <div style="position: relative; width: 112; height: 133; left: 475; top: 24; background: url(codepku/image/textures/main_ui/main.png#34 645 112 133);" onclick="ClickTask"></div>
                </pe:if>
            </pe:if>
       
            <!-- 因好友搜索问题，暂时屏蔽ios渠道好友功能 -->
            <pe:if condition = "<%= isIOSPlatform() %>" >
                <pe:if condition = "<%= not isHuaweiApproval()%>" >
                    <div style="position: relative; width: 80; height: 134; left: 197; top: 20; background: url(codepku/image/textures/main_ui/main.png#416 18 84 138);" onclick="ClickRank"></div>
                    <div style="position: relative; width: 97; height: 137; left: 335; top: 18; background: url(codepku/image/textures/main_ui/main.png#557 478 97 137);" onclick="ClickSignin"></div>
                    <div style="position: relative; width: 112; height: 133; left: 475; top: 24; background: url(codepku/image/textures/main_ui/main.png#34 645 112 133);" onclick="ClickTask"></div>
                </pe:if>
                <pe:if condition = "<%= isHuaweiApproval()%>" >
                    <div style="position: relative; width: 97; height: 137; left: 197; top: 18; background: url(codepku/image/textures/main_ui/main.png#557 478 97 137);" onclick="ClickSignin"></div>
                    <div style="position: relative; width: 112; height: 133; left: 337; top: 24; background: url(codepku/image/textures/main_ui/main.png#34 645 112 133);" onclick="ClickTask"></div>
                </pe:if>
            </pe:if>
                
        </div>
    </pe:if>
    <pe:if condition='<%= not is_open %>'>
        <div style="position: relative; width: 82; height: 178; left: 0; transform: rotate(180deg); transform-origin: 41px 89px; background: url(codepku/image/textures/main_ui/main.png#915 14 82 178);" onclick="ClickOpen"></div>
    </pe:if>
</pe:container>
</pe:mcml> 
</body>
</html>