<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_function.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="MainSceneUIButtons.lua"><![CDATA[
is_open = true

function ClickClose() 
    is_open = false
    Page:Refresh(0)
end

function ClickOpen() 
    is_open = true
    Page:Refresh(0)
end

function ClickFunctionButton()
    GameLogic.AddBBS("CodeGlobals", L"功能开发中", 3000, "#ff0000");
end

NPL.load("(gl)script/apps/Aries.Creator.Game.Desktop.UserInfo.lua");
UserInfoPage = commonlib.gettable("MyCompany.Aries.Creator.Game.Desktop.UserInfoPage")
UserInfoPage.OnInit()
RankPage = commonlib.gettable("MyCompany.Aries.Creator.Game.Desktop.RankPage");
function ClickUserInfo()
    UserInfoPage:ShowPage()
end

function ClickBag()
    UserInfoPage:ShowPage(5)
end

NPL.load("(gl)Mod/CodePku/cellar/GUI/Friend/FriendUI.lua");
FriendUI = commonlib.gettable("Mod.CodePku.GUI.FriendUI")

function ClickFriend()
    FriendUI:ShowPage(1)
end

function ClickRank()
    RankPage:ShowPage()
end
]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_rb" width="720" height="100">
    <pe:if condition='<%= is_open %>'>
        <div style="position:relative;left:0;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/close_button.png);" onclick="ClickClose"></div>
        <div style="position:relative;left:90;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/user_info.png);" onclick="ClickUserInfo"></div>
        <div style="position:relative;left:180;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/bag.png);" onclick="ClickBag"></div>
        <div style="position:relative;left:270;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/friends.png);" onclick="ClickFriend"></div>
        <div style="position:relative;left:360;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/rank.png);" onclick="ClickRank"></div>
        <div style="position:relative;left:450;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/school.png);" onclick="ClickFunctionButton"></div>
        <div style="position:relative;left:540;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/email.png);" onclick="ClickFunctionButton"></div>
        <div style="position:relative;left:630;width:90; height:90; background: url(codepku/image/textures/mainuibuttons/function/setting.png);" onclick="ClickFunctionButton"></div>
    </pe:if>
    <pe:if condition='<%= not is_open %>'>
        <div style="position:relative;left:630;width:100; height:100; background: url(codepku/image/textures/mainuibuttons/function/open_button.png);" onclick="ClickOpen"></div>
    </pe:if>
</pe:container>
</pe:mcml> 
</body>
</html>