<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_common.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="MainSceneUIButtons.lua"><![CDATA[
local MainEntrencePage = commonlib.gettable("Mod.CodePku.MainEntrencePage");
local AntiStuckPage = commonlib.gettable("Mod.CodePku.AntiStuckPage");
local SmallMap = commonlib.gettable("Mod.CodePku.GUI.SmallMap")
local MainPopup = commonlib.gettable("Mod.CodePku.GUI.MainPopup")
local Feedback = NPL.load("(gl)Mod/CodePku/cellar/GUI/Feedback/Feedback.lua");
local Eldership = NPL.load("(gl)Mod/CodePku/cellar/GUI/Eldership/Eldership.lua");
local MainUIButtons = NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/Main.lua");
is_open = MainUIButtons.open_common

function ClickClose() 
    Page:CloseWindow()
    MainUIButtons.show_common_ui("close")
end

function ClickOpen() 
    Page:CloseWindow()
    MainUIButtons.show_common_ui()
end

function ClickCommonButton()
    GameLogic.AddBBS("CodeGlobals", L"功能开发中", 3000, "#ff0000");
end

function ClickAntiJamming()
    MainPopup:ShowPage('AntiJam')
end

function ClickMainEntrence()
    MainEntrencePage.ShowPage()
end

function ClickSamllMap()
    SmallMap:ShowPage("TPpoput")
end

function ClickCommunity()
    GameLogic.RunCommand("/open http://kids.wanxueshijie.com/")
end

function ClickQQGroup()
    -- 暂时屏蔽
    --GameLogic.RunCommand(string.format("/open %s", Mod.CodePku.BasicConfigTable.qq_group_link))
    -- 测试用
    NPL.load("(gl)Mod/CodePku/cellar/Common/TouchMiniButtons/TaskSystem/TaskSystem.lua")
    local TaskSystem = commonlib.gettable("Mod.CodePku.celler.TaskSystem")
    TaskSystem:ShowPage(1)
end

function ClickFeedback()
    Feedback:ShowPage()
end

function ClickEldership()
    Eldership:ShowPage()
end
local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")

isIOSApproval = CommonFunc.isIOSApproval()

]]></script>
<style type="text/mcss">

</style>
<pe:container alignment="_lt" width="100%" height="100%">
    <pe:if condition="<%=is_open == true%>">
        <pe:if condition = "<%= isIOSApproval%>" >
            <div style="position: relative; width: 561; height: 178; background: url(codepku/image/textures/main_ui/main.png#46 495 200 54:20 20 20 20);"></div>
        </pe:if>
        <pe:if condition = "<%= not isIOSApproval%>" >
            <div style="position: relative; width: 824; height: 178; background: url(codepku/image/textures/main_ui/main.png#46 495 200 54:20 20 20 20);"></div>
        </pe:if>
        <div style="position: relative; width: 108; height: 134; left: 40; top: 10; background: url(codepku/image/textures/main_ui/main.png#38 314 108 134);" onclick="ClickSamllMap"></div>
        <div style="position: relative; width: 90; height: 120; left: 185; top: 22; background: url(codepku/image/textures/main_ui/main.png#165 175 90 120);" onclick="ClickAntiJamming"></div>
        <div style="position: relative; width: 101; height: 135; left: 302; top: 9; background: url(codepku/image/textures/main_ui/main.png#160 313 101 135);" onclick="ClickCommunity"></div>
        <!-- <div style="position: relative; width: 74; height: 129; left: 445; top: 13; background: url(codepku/image/textures/main_ui/main.png#811 322 74 129);" onclick="ClickFeedback"></div> -->
        <div style="position: relative; width: 106; height: 138; left: 445; top: 10; background: url(codepku/image/textures/main_ui/main.png#285 480 106 138);" onclick="ClickQQGroup"></div>
        <pe:if condition = "<%= isIOSApproval%>" >
            <div style="position: relative; width: 82; height: 178; left: 561; transform: rotate(180deg); transform-origin: 41px 89px; background: url(codepku/image/textures/main_ui/main.png#915 14 82 178);" onclick="ClickClose"></div>
        </pe:if>
        <pe:if condition = "<%= not isIOSApproval%>" >
            <div style="position: relative; width: 106; height: 138; left: 561; top: 10; background: url(codepku/image/textures/main_ui/main.png#285 480 106 138);" onclick="ClickQQGroup"></div>
            <div style="position: relative; width: 102; height: 127; left: 690; top: 17; background: url(codepku/image/textures/eldership/eldership.png#40 44 107 129);" onclick="ClickEldership"></div>
            <div style="position: relative; width: 82; height: 178; left: 822; transform: rotate(180deg); transform-origin: 41px 89px; background: url(codepku/image/textures/main_ui/main.png#915 14 82 178);" onclick="ClickClose"></div>
        </pe:if>
    </pe:if>
    <pe:if condition="<%=is_open ~= true%>">
        <div style="position: relative; width: 82; height: 178; left: 0; background: url(codepku/image/textures/main_ui/main.png#915 14 82 178);" onclick="ClickOpen"></div>
    </pe:if>
</pe:container>
</pe:mcml> 
</body>
</html>