<!-- "Mod/CodePku/cellar/Common/TouchMiniButtons/MainUIButtons_dialog.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<pe:mcml>
<script refresh="false" type="text/npl" src="MainSceneUIButtons.lua"><![CDATA[
MainSceneUIButtons = commonlib.gettable("Mod.CodePku.Common.TouchMiniButtons.MainSceneUIButtons");
DialogMessages = commonlib.gettable("Mod.CodePku.Common.MainUIButtons.DialogMessages")
CodepkuChatChannel = NPL.load("(gl)Mod/CodePku/chat/CodepkuChatChannel.lua");
FriendUI = NPL.load("(gl)Mod/CodePku/cellar/GUI/Friend/FriendUI.lua");
local request = NPL.load("(gl)Mod/CodePku/api/BaseRequest.lua");
Channels = MainSceneUIButtons.Channels

local page = document:GetPageCtrl()
MainSceneUIButtons.page = page

local sendable = true
DEFAULT_AVATAR = 'codepku/image/textures/chat/default_avatar.png'

frindNow = MainSceneUIButtons.FriendId

friends = commonlib.deepcopy(FriendUI.vars["friends"])
for i, v in ipairs(friends) do
    v.index = i
    if i == 1 then
        FRIEND_IN_CHATTING = i
        v.status = '449 802 100 100'
    else
        v.status = '581 801 100 100'
    end
end

function OnClose()
    Page:CloseWindow()
    MainSceneUIButtons.show_dialog_ui(false, 0)
end

function OnClickChannel(index)
    if index ~= Channels['local'] then
        Page:CloseWindow()
        MainSceneUIButtons.show_dialog_ui(true, index, frindNow)
    end
end

function OnClickVoice()

end

function OnClickEmoji()

end

function OnClickSend()
    local page = document:GetPageCtrl()
    local words = page:GetValue("DialogContent")
    if not words or words == '' then
        return
    end
    if commonlib.utf8.len(words) > 30 then
        GameLogic.RunCommand("/tip -duration 1500 内容上限30个字")
        return 
    end
    if not sendable then
        GameLogic.RunCommand("/tip -duration 1500 发言太频繁，请稍后尝试")
        return
    end
    sendable = false
    local times = 2
    local timer = commonlib.Timer:new({
        callbackFunc = function(timer)

            if times == 0 then
                sendable = true
                timer:Change(nil, nil)
            end

            times = times - 1
        end
    })
    timer:Change(1000, 1000)
    CodepkuChatChannel.SendNearByMsg(words) 
    Page:Refresh()
end

function GetMessages()
    return CodepkuChatChannel.Messages[Channels[Channels['local']].channel]
end

function scrollEnd()
    return MainSceneUIButtons.ScrollToEnd
end

local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")

function isIOSApproval()
    return CommonFunc.isIOSApproval()
end

]]></script>
<style type="text/mcss">
</style>
<pe:container alignment="_ct" width="1004" height="1080">
    <div style="width:960;height:1080;background:url(codepku/image/textures/chat_ui/chat_board.png);font-family:Noto Sans S Chinese Regular;">
        <!-- 频道 -->
        <div style="width: 960;height: 101;">
            <pe:repeat DataSource="<%=Channels%>">
                <pe:repeatitem>
                    <pe:if condition="<%= Eval('index') == Channels['local']%>">
                        <div style="<%=format('width: 102;height:60;position:relative;left:%d;margin-top:20;base-font-size:30px;font-size:30px;color: #ffffff; text-align: center;line-height:60; background:url(codepku/image/textures/chat_ui/chat_32bits.png#589 659 67 67:20 20 20 20)', (Eval('index')-1)*132+28)%>" name="<%=Eval('index')%>" onclick="OnClickChannel"><%=Eval('title')%></div>
                    </pe:if>
                    <pe:if condition="<%=Eval('index') ~= Channels['local']%>">
                        <div style="<%=format('width: 102;height:60;position:relative;left:%d;margin-top:20;base-font-size:30px;font-size:30px;color: #ffffff; text-align: center;line-height:60; background:url(codepku/image/textures/chat_ui/chat_32bits.png#687 660 67 67:20 20 20 20)', (Eval('index')-1)*132+28)%>" name="<%=Eval('index')%>" onclick="OnClickChannel"><%=Eval('title')%></div>
                    </pe:if>
                </pe:repeatitem>
            </pe:repeat>
        </div>
        <!-- 显示栏 -->
        <div style="width: 960;height:845;">
            <pe:treeview style="width: 950; height: 845" ScrollToEnd="<%=scrollEnd()%>" name='messages' DefaultNodeHeight = "120" ItemsPerLine="1" AllowPaging="false" RememberScrollPos="true" RememberLastPage="false" VerticalScrollBarStep="40">
                <pe:repeat  DataSource="<%=GetMessages()%>">
                    <pe:repeatitem>
                        <pe:if condition="<%=Eval('speakerIsMe')==0%>">
                            <div style="width: 900px;height: 150px;">
                                <div style="position:relative;width: 122;height: 122;background: url(codepku/image/textures/chat_ui/chat_32bits.png#64 779 123 126:30 30 30 30);margin-left: 52px;">
                                    <div style="<%=format('width: 111;height:110;margin-left:6; margin-top:5;background: url(%s);', Eval('avatar'))%>"></div>
                                    <div style="background: url(codepku/image/textures/chat_ui/chat_32bits.png#198 877 72 24); width: 72;height: 24;position: absolute;margin-top:-20;margin-left: 50;font-size: 18px;color:white;text-align: center;"><%=format("等级%d", Eval("level"))%></div>
                                </div>
                                <div style="width:500px;height:30px;font-size:24px;color:white;font-weight:bold;margin-left:208px;margin-top:-4px;"><%=Eval('nickname')%></div>
                                <div style="color:#424141;background: url(codepku/image/textures/chat_ui/chat_32bits.png#799 457 55 86:25 25 25 25); width:476px;height:86px;margin-top:6x;margin-left:196px;line-height:48px;base-font-size: 26px; font-size: 26px;padding-left:46px; padding-right:41px;"><%=Eval('dialog')%></div>
                            </div>
                        </pe:if>
                        <pe:if condition="<%=Eval('speakerIsMe')==1%>">
                            <div style="width: 900;height: 150;color:white;">
                                <div align="right" style="position:relative;width: 122;height: 122;background: url(codepku/image/textures/chat_ui/chat_32bits.png#64 779 123 126:30 30 30 30);">
                                    <div style="<%=format('width: 111;height:110;margin-left:6; margin-top:5;background: url(%s);', Eval('avatar'))%>"></div>
                                    <div style="background: url(codepku/image/textures/chat_ui/chat_32bits.png#198 877 72 24); width: 72;height: 24;position: absolute;margin-top:-20;margin-left: 50;font-size: 18px;text-align: center;"><%=format("等级%d", Eval("level"))%></div>
                                </div>
                                <div align="right" style="width:500px;height:30px;font-size:24px;font-weight:bold;margin-right:158px;margin-top:-4px;text-align:right;"><%=Eval('nickname')%></div>
                                <div align="right" style="background: url(codepku/image/textures/chat_ui/chat_32bits.png#887 457 55 86:25 25 25 25); width:476px;height:86px;margin-top:6x;margin-right:143px;line-height:32px;base-font-size: 26px; font-size: 26px; padding-top:13; padding-left:34; padding-right:45;"><%=Eval('dialog')%></div>
                            </div>
                        </pe:if>
                    </pe:repeatitem>
                </pe:repeat>
            </pe:treeview>
        </div>
        <!-- 发言 -->
        <pe:if condition = "<%= not isIOSApproval() %>">
            <div style='width: 960;height:134;'>
                <div style="width:608px;height:54px;float:left;background-color:#ffffff; background: url(codepku/image/textures/chat_ui/chat_32bits.png#928 663 54 54:10 10 10 10);margin-left:27px;margin-top:38px;padding-left:15px;padding-right:15px;">
                    <input valign="center" type="text" width="100%" style='height:48px;font-size: 26px;color:#424141;background:#ffffff00' name='DialogContent'/>
                </div>
                <!--<div style='width:54;height:54;float: left; background: url(codepku/image/textures/chat_ui/chat_32bits.png#848 665 54 54);margin-top: 38;margin-left: 15;' onclick="OnClickVoice"></div>-->
                <!--<div style='width:54;height:54;float: left; background: url(codepku/image/textures/chat_ui/chat_32bits.png#773 666 54 54);margin-top: 38;margin-left: 18' onclick="OnClickEmoji"></div>-->
                <div style='width:125px;height:54px;float:left;background:url(codepku/image/textures/chat_ui/chat_32bits.png#928 340 54 54:25 25 25 25);margin-top:38px;margin-left:25px; color:#F46D3D; base-font-size:30px;font-size:30px;padding-left:32;line-height:54px;' onclick="OnClickSend">发送</div>
            </div>
        </pe:if>
    </div>
    <div style="width: 44;height:150;background:url(codepku/image/textures/chat_ui/chat_32bits.png#478 636 44 144);margin-left: 960;margin-top: -600;" onclick="OnClose"></div>
</pe:container>
</pe:mcml> 
</body>
</html>