<!-- "script/apps/Aries/Creator/Game/Areas/EscFramePage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
<pe:mcml>
    <script type="text/npl" refresh="false"><![CDATA[
        NPL.load("(gl)script/apps/Aries/Creator/Game/Login/Rebranding.lua")
        local Config = NPL.load("(gl)Mod/CodePku/config/Config.lua")

        NPL.load("(gl)Mod/CodePku/cellar/Common/CommonFunc/CommonFunc.lua")
        local CommonFunc = commonlib.gettable("Mod.CodePku.Common.CommonFunc")
        function isHuaweiApproval()
            return CommonFunc.isHuaweiApproval()
        end

        function isIOSApproval()
            return CommonFunc.isIOSApproval()
        end

        function isHuaweiOrIOS()
            return CommonFunc.isHuaweiApproval() or CommonFunc.isIOSApproval()
        end

        Rebranding = commonlib.gettable("MyCompany.Aries.Creator.Game.Rebranding")
        local GameMainLogin = commonlib.gettable("MyCompany.Aries.Game.MainLogin")
        MainLogin = NPL.load("./MainLogin.lua")
        local CodePkuServiceSession = NPL.load("(gl)Mod/CodePku/service/CodePkuService/Session.lua")

        local page = document:GetPageCtrl()
        Mod.CodePku.Store:Set("page/MainLogin", page)

        local appMarketQQ = ParaEngine.GetAppCommandLineByParam("app_market", "")

        function getAppMarketQQ()
            return appMarketQQ
        end

        function login()
            MainLogin:LoginAction(1)
        end
        
        function unchecklogin()
            GameLogic.AddBBS(nil, L"为了保证您的个人隐私和隐私安全，还请仔细阅读并同意用户服务协议和隐私政策", 3000, "255 0 0", 21)
        end

        function quicklogin()
            LOG.std(nile, "MainLogin.html", "quickLogin", "Enter")
            MainLogin:LoginAction(3)
        end

        function QQLogin()
            MainLogin:LoginAction(4)
        end

        function WeChatLogin()
            MainLogin:LoginAction(5)
        end

        local isClickedGetPhoneCaptcha = false

        function get_mobile_code()   
            if #page:GetValue("account") ~= 11 then
                GameLogic.AddBBS(nil, L"手机号码位数不对", 3000, "255 0 0", 21)
                return false
            end

            if page:GetValue("account") == "" then
                GameLogic.AddBBS(nil, L"手机号码不能为空", 3000, "255 0 0", 21)
                return false
            end

            if isClickedGetPhoneCaptcha then
                return false 
            end

            isClickedGetPhoneCaptcha = true
            
            -- Mod.CodePku.MsgBox:Show(L"正在获取验证码...", 8000, L"链接超时", 300, 120)

            local times = 60

            local timer = commonlib.Timer:new({
                callbackFunc = function(timer)
                    page:SetValue("get_mobile_code_text", format("%s(%ds)", L"重新发送", times))

                    if times == 0 then
                        isClickedGetPhoneCaptcha = false
                        page:SetValue("get_mobile_code_text", L"获取验证码")
                        timer:Change(nil, nil)
                    end

                    times = times - 1
                end
            })

            timer:Change(1000, 1000)

            CodePkuServiceSession:getMobileCode(
                page:GetValue("account"), 
                function (response, err)
                    if err == 200 then  
                        -- Mod.CodePku.MsgBox:Close()

                        if Config.defaultEnv == Config.env.RELEASE then
                            GameLogic.AddBBS(nil, L"验证码获取成功", 3000, "255 0 0", 21)
                        else
                            GameLogic.AddBBS(nil, L("验证码是："..response.data.code), 7000, "255 0 0", 21)
                        end

                        LOG.std(nil, "info", "codepku", "get mobile code success")
                        
                        local mobileToken = response.data.mobile_token

                        local tokenNode = page:GetNode("mobile_token");

                        tokenNode:SetAttribute("value", mobileToken)

                        -- local tokenNode = MainLoginPage:GetNode("mobile_token");
                        -- tokenNode:SetValue('mobile_token', mobileToken)

                    else 
                        local errMsg = response.message or "获取验证码失败"
                        -- Mod.CodePku.MsgBox:Close()   
                        GameLogic.AddBBS(nil, errMsg, 3000, "255 0 0", 21)
                        isClickedGetPhoneCaptcha = false
                    end
                end
            )
        end

        function show_user_agreement()
            MainLogin:ShowUserAgreementModal()
        end

        function show_privacy_agreement()
            MainLogin:ShowPrivacyAgreementModal()
        end

        check = MainLogin.check
        function clickCheckBox(value)
            if value then 
                MainLogin.check = false;
            else
                MainLogin.check = true
            end
            Page:Refresh(0)
        end


        function GetMethodIndex()
            return MainLogin.login_method_index; -- 1: captcha 2: password
        end

        MainLogin.login_method_index = 1;

        function OnChangeLoginMethod()
            local accountNum = Page:GetValue('account')
            MainLogin.accountNum = accountNum  --记录输入的号码,切换登录方式保留
            MainLogin.verifyCode = ""
            Page:CloseWindow()
            MainLogin:Show(2)
            --MainLogin.login_method_index = if_else(MainLogin.login_method_index == 2, 1, 2);
            --page:SetValue("btn_ToggleMethod", if_else(MainLogin.login_method_index == 2, '验证码登录', '密码登录'));
            --page:Refresh(0);
        end

        function OnAccountChange(value)
            MainLogin.accountNum = Page:GetValue('account')
        end
        
        function OnVerifyChange(value)
            MainLogin.verifyCode = Page:GetValue('verify_code')
        end

        function getChecked()
            local privacyPolicyState = GameLogic.GetPlayerController():LoadLocalData('privacyPolicyState',false,true);
            if MainLogin.check then
                return "checked"
            else
                return "uncheked"
            end
        end

        -- 为以后的扩展留下接口，可以弄多个手机区域码
        function OnNumberChooseBtnClicked()
            --body
            LOG.std(nil, "MainLoginHTML", "OnNumberChooseBtnClicked", "Enter")
        end
    ]]>
    </script>
    <style type="text/mcss">
    </style>

    <pe:container alignment="_lt" width="100%" height="100%" style="padding-top: 60px;">
        <div align="center" style="width: 384px; height: 161px; background:url(codepku/image/textures/login/main.png#1170 54 384 161)"></div>
        <div align="center" style="width: 944px; height: 709px; margin-top: 17px; padding-top: 40px; background:url(codepku/image/textures/login/login_backboard_new.png)">

            <div style="position: relative; width: 410; height: 86; left: 267; top: -40; line-height: 86; font-size: 45; font-weight: bold; font-family: PuHuiTi-Bold; color: #F46D3D; text-align: center; background:url(codepku/image/textures/login/quickLogin.png#444 205 434 86);">短信登录</div>

            <div style="position: relative; width: 722; height: 88; left: 111; top: 151; font-family: Noto Sans S Chinese Regular;
                font-size: 32px; font-weight: normal; font-stretch: normal; line-height: 40px; letter-spacing: 0px; color: #ffffff; background:url(codepku/image/textures/login/main.png#1011 271 88 88:10 10 10 10)">
                <input type="text" MoveViewWhenAttachWithIME="true" name="account" onchange="OnAccountChange" value="<%= MainLogin.accountNum %>" EmptyText='<%= L"请输入手机号码" %>' style="position: relative;left: 139px; width: 583; height: 88; background: #000000;"/>
                <div style="position: relative; left: 93px; top: 41px; width: 16px; height: 8px;background: url(codepku/image/textures/login/quickLogin.png#751 82 16 8);"></div>
                <input type="button" name="numberChoose" onclick="OnNumberChooseBtnClicked" value='<%= L"+86"%>' style="position: relative; width: 101px; height: 88px; background: #000000;"/>
            </div>
        
            <!-- <pe:if condition ="<%=GetMethodIndex() == 1 %>"> -->
                
                <div style="position: relative; left: 113; top: 255; font-size: 22; color: #ffffff; font-family: Noto Sans S Chinese Regular;">若该手机未注册，我们会自动为您注册</div> 

                <div name="verifyCodeDiv" style="position: relative; width: 722; height: 88; left: 111; top: 293;">

                    <div style="position: relative; width: 722; height: 88; font-size: 32; color:#FFFFFF; font-family: Noto Sans S Chinese Regular; background:url(codepku/image/textures/login/main.png#1011 271 88 88:10 10 10 10);">
                        <input type="text" MoveViewWhenAttachWithIME="true" name="verify_code" onchange="OnVerifyChange" value="<%= MainLogin.verifyCode %>"  EmptyText='<%= L"请输入验证码" %>' style="position: relative; width: 672; height: 88; left: 25; line-height: 88; background: #000000;" />
                    </div>

                    <input type="button" name="get_mobile_code_text" onclick="get_mobile_code()"
                        style="position: relative; width: 201; height: 89; left: 522; font-size: 32; font-family: PuHuiTi-Bold; font-weight: bold; color: #F46D3D; background:url(codepku/image/textures/login/main.png#1537 413 200 88:0 10 10 0);" value='<%= L"获取验证码" %>' />

                    <input type="hidden" name="mobile_token" />

                </div>
            <!-- </pe:if> -->

            <div name="passwordDiv" style="position: relative; width: 722; height: 88; left: 111; top: 293; display: none;">
                <div  style="position: relative; width: 722; height: 88; font-size: 32; color:#FFFFFF; font-family: Noto Sans S Chinese Regular; background:url(codepku/image/textures/login/main.png#1011 271 88 88:10 10 10 10);">
                    <input type="password" MoveViewWhenAttachWithIME="true" name="password" EmptyText='<%= L"请输入密码" %>' style="position: relative; width: 672; height: 88; left: 25; line-height: 88; background: #000000; " />
                </div>
            </div>

            <!-- 勾选同意政策 -->
            <pe:if condition = "<%= MainLogin.check %>" >
                <pe:if condition = "<%= not isHuaweiApproval()%>" >
                    <input type="button"  onclick="login" value='<%= L"登  录"%>'
                        style="position: relative; width: 330; height: 90; left: 502; top: 414; font-size: 36; color: #0E5516; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#391 46 65 94:6 6 6 6);" />

                    <input type="button"  onclick="quicklogin" value='<%= L"游客模式"%>'
                        style="position: relative; width: 330; height: 90; left: 110; top: 414; font-size: 36; color: #0E5516; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#276 46 74 94:6 6 6 6);" />
                </pe:if>
                
                <!-- 华为审核屏蔽游客登录 -->
                <pe:if condition = "<%= isHuaweiApproval() %>" >
                    <input type="button"  onclick="login" value='<%= L"登  录"%>'
                    style="position: relative; width: 330; height: 90; left: 307; top: 414; font-size: 36; color: #0E5516; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#391 46 65 94:6 6 6 6);" />
                </pe:if> 
                
            </pe:if> 
            
            <!-- 未勾选同意政策 -->
            <pe:if condition = "<%= not MainLogin.check %>" >
                <pe:if condition = "<%= not isHuaweiApproval()%>" >
                    <input type="button"  onclick="unchecklogin" value='<%= L"登  录"%>'
                        style="position: relative; width: 330; height: 90; left: 502; top: 414; font-size: 36; color: #ffffff; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#811 44 74 95:6 6 6 6);" />

                    <input type="button"  onclick="unchecklogin" value='<%= L"游客模式"%>'
                        style="position: relative; width: 330; height: 90; left: 110; top: 414; font-size: 36; color: #ffffff; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#811 44 74 95:6 6 6 6);" />
                </pe:if>
                
                <!-- 华为审核屏蔽游客登录 -->
                <pe:if condition = "<%= isHuaweiApproval() %>" >
                    <input type="button"  onclick="login" value='<%= L"登  录"%>'
                        style="position: relative; width: 330; height: 90; left: 307; top: 414; font-size: 36; color: #ffffff; font-family: PuHuiTi-Bold; font-weight: bold; border-radius: 6px; background:url(codepku/image/textures/login/quickLogin.png#811 44 74 95:6 6 6 6);" />
                </pe:if> 
            </pe:if> 


            <div style="position: relative; width: 32; height: 32; left: 111; top: 535; background:url(codepku/image/textures/login/main.png#1638 314 33 33);"></div>

            <input type="checkbox" name="agree" checked="<%= getChecked()%>" UncheckedBG="codepku/image/textures/login/main.png#1638 314 33 33" CheckedBG="codepku/image/textures/login/main.png#708 299 32 32" onclick="clickCheckBox()"
                style="position: relative; width: 32; height: 32; left: 111; top: 535; " />

            <div style="position: relative; left: 148; top: 540; font-size: 22; font-family: PuHuiTi-Bold; color: #FFFFFF;">
                <%= L"我已详细阅读并同意" %>
                <span style="color:#FFF868;" onclick="show_user_agreement()"><%= L"《用户服务协议》" %></span>
                <%= L"和" %>
                <span style="color:#FFF868;" onclick="show_privacy_agreement()"><%= L"《隐私政策》" %></span>
            </div>


            <pe:if condition = "<%= 'qq' ~= getAppMarketQQ() %>" >
                <input name="btn_ToggleMethod" style="position: relative; left: 712; top: 532; font-size: 28; text-align: left; font-family: Noto Sans S Chinese Regular; color: #005BFF; font-weight: bold; background: #00000000;" type="button" value='<%= L"密码登录"%>'  onclick="OnChangeLoginMethod"/>
            </pe:if>

            <!-- <pe:if condition = "<%= not isIOSApproval() %>">
                <div onclick="QQLogin" style="position: relative; width: 75px; height: 74px; left: 301; top: 591;background:url(codepku/image/textures/login/quickLogin.png#190 211 75 74);">

                </div>
    
                <div onclick="WeChatLogin" style="position: relative; width: 75px; height: 74px; left: 559; top: 591;background:url(codepku/image/textures/login/quickLogin.png#319 211 75 74);">
    
                </div>
            </pe:if> -->

            
        </div>
    </pe:container>


</pe:mcml>
</body>
</html>